.product-detail {
  &__wrap {
    .btn__wrap {
      [class *='btn-sm'] {
        font-size: $font_size_s;
        height: 3.3rem;
        line-height: 3.3rem;
        padding: 0 2rem;
        font-weight: 400;
      }
      .btn-sm__black {
        position: absolute;
        right: 2rem;
        top: 20rem;
        width: 10.5rem;
      }
    }
    .room {
      &-list {
        &__wrap {
          margin-top: 1.2rem;
          .splide__track {
            border-radius: 1.2rem;
            overflow: hidden;
          }
        }
        &__con {
          background-color: #fff;
          padding: 2rem;
          border-radius: 2rem;
          & + .room-list__con {
            margin-top: 1.2rem;
          }
          .splide__product {
            height: 14rem;
            border-radius: 1.2rem;
            overflow: hidden;
            margin-bottom: 1.6rem;
            .slide-counter {
              right: .8rem;
              bottom: .8rem;
            }
          }
        }
      }
      &-name {
        padding-bottom: .4rem;
        font-size: $font_size_xl;
        font-weight: 700;
        line-height: 1.38;
      }
      &-num {
        @include flexbox($js:start);
        font-size: $font_size_s;
        font-weight: 400;
        span {
          margin-left: .6rem;
          color: $red_color;
          font-weight: 600;
        }
      }
      &-option {
        padding-top: 1.2rem;
        li {
          @include flexbox($js:start);
          font-size: $font_size_s;
          font-weight: 400;
          color: $primary_gray;
          & + li {
            margin-top: .8rem;
          }
          &:before {
            content:'';
            width: 1.4rem;
            height: 1.4rem;
            margin-right: .8rem;
          }
        }
        .option {
          &-view {
            &:before {
              @include bgimage($url:$image_root+'layout/ico_view.png');
            }
          }
          &-bed {
            &:before {
              @include bgimage($url:$image_root+'layout/ico_bed.png');
            }
          }
          &-people {
            &:before {
              @include bgimage($url:$image_root+'layout/ico_people.png');
            }
          }
          &-area {
            &:before {
              @include bgimage($url:$image_root+'layout/ico_area.png');
            }
          }
        }
      }
      &-type {
        &__wrap {
          margin-top: 2.4rem;
          .flex-between {
            align-items: flex-start;
          }
          .room-type-name {
            font-size: $font_size_s;
            color: $primary_gray;
            font-weight: 600;
          }
          .btn__wrap {
            width: 13rem;
            margin-left: auto;
            margin-top: 1.6rem;
            button {
              &.btn-sm__line__gray {
                padding: .45rem;
              }
              &.btn-sm__primary {
                margin-left: .8rem;
              }
            }
          }
          .accordion__tit {
            width: 100%;
            margin-top: 1.2rem;
            &.active {
              .btn-full__line__primary {
                &:after {
                  content:'';
                  transform: rotate(180deg)
                }
              }
            }
            .btn-full__line__primary {
              @include flexbox();
              height: 4.4rem;
              line-height: 4.4rem;
              border-radius: 1.2rem;
              font-size: $font_size_xxs;
              &:after {
                content:'';
                width: 2rem;
                height: 2rem;
                margin-left: .4rem;
                @include bgimage($url:$image_root+'common/ico_arrow_down_purple.svg');
              }
            }
          }
        }
        &__con {
          position: relative;
          background-color: #F8F8F8;
          margin-top: 1.2rem;
          padding: 2rem;
          border-radius: 1.2rem;
        }
      }
      &-price {
        @include flexbox($js:end);
        flex-wrap: wrap;
        gap: .6rem;
        .sale-percent {
          font-size: $font_size_xxs;
          font-weight: 600;
          color: $primary_color;
        }
        .default-price {
          font-size: $font_size_xxs;
          font-weight: 400;
          color: $primary_gray;
          text-decoration: line-through;
        }
        .sale-price {
          @include flexbox($js:end);
          width: 100%;
          font-size: $font_size_s;
          font-weight: 400;
          text-align: right;
          em {
            font-size: $font_size_xxl;
            font-weight: 700;
            margin-right: .4rem;
          }
        }
      }
    }
    .amenities__list {
      ul {
        @include flexbox($js:start);
        flex-wrap: wrap;
        gap: 1.2rem 1.5rem;
        li {
          @include flexbox($js:start);
          width: calc(50% - .8rem);
          img {
            width: 3.2rem;
            height: 3.2rem;
            margin-right: 1.2rem;
            border-radius: 50%;
            overflow: hidden;
          }
          span {
            color: $primary_gray;
            font-size: $font_size_s;
            font-weight: 400;
          }
        }
      }
    }
  }
  &__img {
    position: relative;
    .splide__product {
      height: 24rem;
    }
    .slide-counter {
      right: 2rem;
      bottom: 1.2rem;
      padding: 0 .6rem;
    }
  }
  &__tit {
    position: relative;
    padding: 2rem;
    .btn-product__like {
      bottom: auto;
      top: 5.2rem;
      right: 2rem;
    }
    .seller-name {
      @include inline-flexbox();
      background-color: #F8F8F8;
      height: 2rem;
      line-height: 2rem;
      padding: 0 .8rem;
      border-radius: 1.2rem;
      font-size: $font_size_xxs;
      color: $primary_gray;
      &:after {
        content:'';
        width: .8rem;
        height: 1.6rem;
        margin-left: .4rem;
        @include bgimage($url:$image_root+'common/ico_arrow_right.svg');
      }
    }
    .product-tit {
      padding: 1.2rem 0;
    }
    .product-name {
      color: $primary_black;
      font-size: $font_size_xl;
      font-weight: 700;
    }
    .product-sub {
      padding-top: .8rem;
      color: $primary_gray;
      font-size: $font_size_xxs;
      span {
        &:first-child {
          &:after {
            content:'|';
            margin: 0 .8rem;
          }
        }
      }
      .place {
        @include inline-flexbox();
        &:after {
          content:'';
          width: .8rem;
          height: 1.4rem;
          margin-left: .4rem;
          @include bgimage($url:$image_root+'common/ico_arrow_right.svg');
        }
      }
    }
    .product-category {
      @include flexbox($js:start);
      .badge {
        margin-right: .8rem;
      }
    }
    .product-price {
      @include flexbox($js:end);
      gap: .6rem;
      padding-top: 1.6rem;
      .sale-percent {
        font-size: $font_size_xxs;
        font-weight: 600;
        color: $primary_color;
      }
      .default-price {
        font-size: $font_size_xxs;
        font-weight: 400;
        color: $primary_gray;
        text-decoration: line-through;
      }
      .sale-price {
        @include flexbox();
        font-size: $font_size_s;
        font-weight: 400;
        em {
          font-size: $font_size_xxl;
          font-weight: 700;
          margin-right: .4rem;
        }
      }
    }
    .review-con {
      @include flexbox($js:start);
      .rating-num {
        color: #221E1F;
        font-size: $font_size_s;
        font-weight: 600;
        margin: 0 .8rem 0 .4rem;
      }
      .review-num {
        color: $primary_gray;
        font-size: $font_size_xxs;
        text-decoration: underline;
        text-underline-position: under;
      }
    }
    .box-gray__wrap {
      @include flexbox($js:between);
      margin-top: 2.4rem;
      padding: 2rem;
      .btn-sm__primary {
        width: 9.4rem;
        @include flexbox();
        .ico {
          margin-right: .4rem;
        }
      }
    }
    .bullet__wrap {
      margin-top: 2.4rem;
      .ft-s {
        color: $primary_gray;
        line-height: 1.6;
        font-weight: 400;
      }
    }
    .amenities__list {
      ul {
        li {
          img {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: .8rem;
          }
        }
      }
    }
  }
  &__point {
    background: #F5F6F7;
    padding: 2rem;
    .tit__wrap {
      .title {
        padding-bottom: 2.4rem;
        text-align: center;
        font-size: $font_size_xl;
        font-weight: 600;
        line-height: 1.38;
      }
      .desc {
        font-size: $font_size_s;
        font-weight: 400;
        line-height: 1.57;
      }
    }
    .splide__default {
      padding-top: 2.4rem;
    }
  }
  &__con {
    position: relative;
    background: #F5F6F7;
    padding: 2rem 2rem 2rem;
    .tit__wrap {
      padding-bottom: 1.2rem;
    }
    .search {
      &-form__wrap {
        background-color: #fff;
        padding: 0 2.4rem;
        &.fixed {
          padding: 0 2rem;
          border-radius: 0;
          margin-left: -2rem;
          margin-right: -2rem;
          .search-form__con {
            padding: .8rem 0;
            flex: none;
            .ico {
              display: none;
            }
            .txt {
              color: $primary_gray;
              font-size: $font_size_xxs;
            }
          }
          .search-date {
            padding-right: 2rem;
            &::after {
              content: "|";
              width: 0;
              right: 1.2rem;
              top: 2.15rem;
            }
          }
        }
      }
      &-form {
        &__con {
          padding: 1.6rem 0;
          .txt {
            color: $primary_black;
            font-size: $font_size_s;
          }
        }
      }
      &-date {
        &:after {
          content:'';
          right: 2rem;
        }
        .txt {
          @include flexbox($js:start);
          span {
            &:nth-child(2) {
              margin: 0 .4rem;
            }
          }
        }
      }
    }
    .btn-product__more {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 60%);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 2.4rem;
      margin: 0 auto;
      .btn-full__black {
        width: 14.8rem;
      }
    }
    .room-list__wrap {
      max-height: 200rem;
      overflow: hidden;
    }
  }
  &__close {
    background: #F5F6F7;
    padding: 6rem 2rem 3rem;
    .tit__wrap {
      text-align: center;
    }
  }
  &__notice {
    padding: 2.4rem 2rem 3rem;
    .bullet__wrap {
      position: relative;
      .btn-txt__arrow {
        position: absolute;
        right: 0;
        top: 0;
      }
      .box-purple__wrap {
        margin-top: 1.2rem;
      }
    }
  }
  &__address {
    .tit__wrap {
      padding: 0 2rem 1.6rem;
    }
    .title {
      padding-bottom: 1.2rem;
      font-size: $font_size_default;
      font-weight: 600;
    }
    .address {
      font-size: $font_size_default;
      color: $primary_gray;
      font-weight: 400;
    }
    .map__wrap {
      max-height: 20rem;
      overflow: hidden;
    }
  }
  &__similar {
    padding: 3rem 2rem 2.4rem;
    .title {
      padding-bottom: 1.2rem;
      font-size: $font_size_default;
      font-weight: 600;
    }
    .thumb__price {
      padding: 0;
      & > div {
        padding-bottom: 0;
      }
      .sale-percent {
        color: $primary_color;
      }
    }
    .thumb__con {
      .detail-name {
        padding-top: .8rem;
        padding-bottom: 0;
      }
    }
  }
  &__benefit {
    @include bgimage($url:$image_root+'layout/bg_moogcle.png', $pos:left top);
    background-color: #F5F6F7;
    padding: 58% 2rem 1rem;
    .title {
      padding-bottom: 1.6rem;
      font-size: $font_size_xl;
      font-weight: 600;
    }
    .box-white__wrap {
      &.flex-between {
        padding: 2rem;
        .btn-sm__round {
          width: 8.2rem;
        }
      }
      .badge__wrap {
        @include flexbox($js:start);
        flex-wrap: wrap;
        gap: .8rem 1.2rem;
      }
    }
  }
  &__people {
    padding: 2rem;
    border: 1px solid #EEF0F2;
    border-radius: 2rem;
    margin-top: 1.6rem;
    .title {
      padding-bottom: 1.2rem;
      font-size: $font_size_default;
      font-weight: 600;
    }
    .txt-primary {
      font-size: $font_size_xxs;
      font-weight: 400;
    }
    & > ul {
      & > li {
        @include flexbox($js:between, $ai:start);
        padding-bottom: 1.2rem;
        .tit {
          font-size: $font_size_s;
          font-weight: 400;
          line-height: 1.2;
          color: $primary_gray;
        }
        .desc {
          font-size: $font_size_s;
          line-height: 1.6;
          text-align: right;
        }
      }
    }
  }
  &__picture {
    & > ul {
      @include flexbox($js:start);
      flex-wrap:wrap;
      gap: .1rem;
      & > li {
        width: calc(50% - .05rem);
        img {
          width: 100%;
        }
      }
    }
  }
  &__allpicture {
    @include flexbox();
    height: calc(100vh - 4.8rem);
    .splide__product {
      height: auto;
      .slide-counter {
        right: 2rem;
        bottom: 1.2rem;
      }
    }
  }
}

.room-detail {
  &__wrap {
    .product-detail__tit {
      padding-bottom: 1rem;
      .product-tit {
        padding: 0;
      }
    }
    .product-detail__wrap {
      .room-option {
        padding-top: 1.6rem;
      }
    }
  }
}

.rating {
  &__wrap {
    @include flexbox();
    .rating-num {
      font-size: $font_size_xxxl;
      font-weight: 600;
      margin-left: 1.6rem;
    }
  }
}

.review__wrap {
  .checkbox__wrap {
    padding-top: 3rem;
  }
}
.review-list {
  &__wrap {
    padding-top: 1.6rem;
  }
  &__con {
    background-color: #F8F8F8;
    padding: 2.4rem;
    border-radius: 2rem;
    & + .review-list__con {
      margin-top: 1.2rem;
    }
  }
}
.review {
  &-top {
    @include flexbox($js:between);
    .date {
      margin-right: .4rem;
      color: $primary_gray;
      font-size: $font_size_xxs;
    }
  }
  &-tit {
    @include flexbox($js:between, $ai:start);
    padding: 1.2rem 0 2.4rem;
    .tit__wrap {
      .title {
        padding-bottom: .5rem;
        font-size: $font_size_xl;
        font-weight: 600;
        line-height: 1.38;
      }
      .sub-title {
        font-size: $font_size_s;
        color: $primary_gray;
        line-height: 1.38;
      }
    }
    .btn-sm__black {
      width: 6.1rem;
      padding: .8rem;
    }
  }
  &-tag {
    & > ul {
      @include flexbox($js:start);
      flex-wrap:wrap;
      gap: 1.2rem 2.4rem;
      & > li {
        @include flexbox($js:start);
        img {
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50%;
          overflow: hidden;
        }
        span {
          margin-left: .8rem;
          font-size: $font_size_s;
          color: $primary_gray;
        }
      }
    }
  }
  &-img {
    padding: 2.4rem 0;
    .splide__track {
      border-radius: 1.2rem;
      overflow: hidden;
    }
    .splide__slide {
      height: 20vh;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
  &-txt {
    .review {
      font-size: $font_size_s;
      line-height: 1.4;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      &.active {
        display: block;
      }
    }
    .btn-more {
      margin-top: .8rem;
      justify-content: flex-end;
    }
  }
}

.tour-detail {
  &__con {
    background-color: #fff;
    padding: 2.4rem;
    border-radius: 2rem;
    & + & {
      margin-top: 1.2rem;
    }
    .tour {
      &-day {
        @include flexbox($js:start);
        font-size: $font_size_xl;
        font-weight: 600;
        line-height: 1.4;
        span {
          padding-left: 1.2rem;
          font-size: $font_size_default;
          color: $primary_color;
        }
      }
      &-timetable {
        padding-top: 2.4rem;
        ul {
          position: relative;
          &:before {
            content:'';
            position: absolute;
            left: .6rem;
            top: 1rem;
            height: 95%;
            border-left: 1px dashed $bg_lightgray;
          }
        }
        li {
          position: relative;
          padding-left: 2.6rem;
          & + li {
            margin-top: 2rem;
          }
          &:before {
            content:'';
            position: absolute;
            left: 0;
            top: .4rem;
            width: 1.4rem;
            height: 1.4rem;
            @include bgimage($url:$image_root+'common/logo_tiny.png');
          }
        }
        .tit {
          font-size: $font_size_s;
          line-height: 1.4;
        }
        .desc {
          padding-top: .8rem;
          font-size: $font_size_xxs;
          line-height: 1.6;
          font-weight: 400;
          color: $primary_gray;
        }
        .img {
          height: 14rem;
          margin-top: .8rem;
          border-radius: 1.6rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.seller-detail {
  &__wrap {
    .tit__wrap {
      @include flexbox($js:between);
      padding-bottom: 1.2rem;
    }
    .review-list__wrap {
      padding: 0 2rem 3rem;
    }
    .review-list__con {
      .review-tit {
        padding: 0;
        padding-bottom: 1.2rem;
        .title {
          font-size: $font_size_xl;
          font-weight: 600;
        }
      }
    }
  }
  &__con {
    padding: 2rem 2rem 3rem;
    .amenities__list {
      ul {
        li {
          img {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: .8rem;
          }
        }
      }
    }
    .bullet__wrap {
      padding-top: 3rem;
    }
  }
  &__tit {
    @include flexbox($js:between);
    .seller-name {
      @include flexbox();
      img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        overflow: hidden;
      }
      span {
        padding-left: 1.2rem;
        font-size: $font_size_xl;
        font-weight: 700;
      }
    }
  }
  &__recommend {
    padding: 0 2rem;
    .splide {
      padding-bottom: 3.2rem;
    }
  }
  &__list {
    padding: 3rem 2rem;
    &.pt20 {
      padding-top: 2rem;
    }
    .title {
      padding-bottom: 1.2rem;
      font-size: $font_size_default;
      font-weight: 600;
    }
    .thumb__price {
      padding-bottom: 0;
      & > div {
        padding-bottom: 0;
      }
      .sale-percent {
        color: $primary_color;
      }
    }
  }
}

.faq__wrap {
  padding: 2.4rem 0;
  .title {
    padding-bottom: 1.2rem;
    padding-left: 2rem;
    font-size: $font_size_xl;
    line-height: 1.4;
    font-weight: 600;
  }
  .accordion {
    &__tit {
      @include flexbox($js:between);
      padding: 1.2rem 2rem;
      .ft-default {
        @include flexbox($js:start);
        &:before {
          content:'Q';
          color: $primary_gray;
          margin-right: 1.2rem;
        }
      }
    }
    &__con {
      background-color: #F8F8F8;
      padding: 1.2rem 2rem;
      font-size: $font_size_s;
      line-height: 1.4;
    }
  }
}

.message {
  &__wrap {
    padding: 2rem;
    .date {
      font-size: $font_size_s;
      line-height: 1.4;
      font-weight: 400;
      text-align: center;
    }
    .time {
      font-size: $font_size_xxs;
      line-height: 1.4;
      font-weight: 400;
      letter-spacing: -0.025em;
    }
    .txt {
      max-width: 22rem;
      padding: .8rem 1rem;
      border-radius: 1.2rem;
      font-size: $font_size_s;
      line-height: 1.4;
      font-weight: 400;
    }
  }
  &__send {
    @include flexbox($js:end, $ai:end);
    padding-top: 3rem;
    .message__con {
      .txt {
        background-color: $primary_color;
        color: #fff;
        border-top-right-radius: 0;
      }
    }
    .time {
      margin-right: .8rem;
    }
  }
  &__receiver {
    @include flexbox($js:start, $ai:end);
    padding-top: 3rem;
    .message__con {
      @include flexbox($ai:start);
      .img {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 1.2rem;
        margin-right: .8rem;
      }
      .name {
        padding-bottom: .8rem;
        font-size: $font_size_s;
      }
      .txt {
        background-color: $bg_lightgray;
        border-top-left-radius: 0;
      }
    }
    .time {
      margin-left: .8rem;
    }
  }
  &__input {
    @include flexbox();
    border-top: 1px solid $bg_lightgray;
    .img {
      width: 3.2rem;
      height: 3.2rem;
    }
    .textarea__wrap {
      flex: 1;
      margin: 0 1.2rem;
      &.type2 {
        margin: 0 1.6rem;
        .textarea {
          background-color: #fff;
          padding: 1.2rem 0;
          &::placeholder {
            color: $primary_gray;
          }
        }
      }
      .textarea {
        height: 4.8rem;
      }
    }
  }
}

.mobileweb-popup {
  .ft-xxl {
    padding-top: 1.2rem;
    line-height: 1.4;
    font-weight: 600;
  }
  .btn-full__black {
    width: 16rem;
    margin: 0 auto;
  }
}