/* header */
#headerWrap .header { margin:0 auto; max-width:1280px; z-index:5; }
#headerWrap .header h1 { margin-top:60px; }

/* gnb */
#gnbWrap .gnb { position:absolute; left:5.5%; top:220px; }
#gnbWrap .gnb ul li a { display:block; margin-bottom:35px; text-align:center; color:#2d304a; }

#contentsWrap { position:relative; }

.line { position:absolute; left:8%; top:-1%; width:2px; height:100%; background-color:#b2b2b2; z-index:2; }
.main-tit { position:absolute; left:5%; }
.mo-only { display:none; }
.pl-30 { padding-left:30px; }

.bg-01 { position:relative; z-index:-1; background-color:#2d304a; color:#fff; line-height:1.6; padding-top:670px; padding-bottom:220px; margin-top:-430px; }
.bg-01 .main-tit { top:600px; }
.bg-01 .filmo { margin-left:-13px; margin-right:-13px; }
.bg-01 .filmo:after { content:''; display:block; clear:both; }
.bg-01 .filmo li { float:left; width:25%; padding-left:13px; padding-right:13px; }
.bg-01 .filmo li:last-child { margin-right:0; }
.bg-01 .filmo li figure figcaption { font-size:14px; font-family:"Apple SD Gothic Neo", serif; margin-top:20px; }

.bg-02 { background:url('../img/bg01.png') 4% top no-repeat; position:relative; color:#000; line-height:1.6; padding-top:270px; padding-bottom:150px; }
.bg-02 .main-tit { top:200px; }
.bg-02 .profile { margin-top:60px; margin-bottom:325px; }
.bg-02 .profile .tit { width:50px; display:table-cell; font-weight:600; }
.bg-02 .profile .con { display:table-cell; }
.bg-02 .name { font-weight:600; font-size:22px; }
.bg-02 .name span { font-size:20px; font-weight:500; }
.bg-02 .work { font-size:18px; }
.bg-02 .contents { padding-top:70px; padding-left:40px; padding-right:40px; }
.bg-02 .img03 { width:415px; }


.bg-03 { background:url('../img/bg02.png') center no-repeat; background-size:110%; position:relative; color:#000; line-height:1.6; padding-top:200px; padding-bottom:350px; }
.bg-03 .main-tit { top:100px; }
.bg-03 .slide02 { margin-top:135px; }
.bg-03 .tit { font-size:25px; margin-bottom:35px; }

.bg-04 { background:url('../img/bg03.png') left 50% no-repeat; position:relative; line-height:1.6; padding-top:80px; padding-bottom:300px; }
.bg-04 .main-tit { top:20px; }

.bg-05 { background:url('../img/bg04.png') right center no-repeat; line-height:1.6; padding-top:80px; padding-bottom:300px; }
.bg-05 .bg05-img { margin-top:-105px; }

.bg-06 { background:url('../img/bg05.png') left 20% no-repeat; line-height:1.6; padding-top:80px; padding-bottom:480px; }
.bg-06 .contents { margin-top:80px; padding-right:200px; }

.bg-07 { position:relative; z-index:3; background-color:#2d304a; color:#fff; line-height:1.6; padding-top:375px; text-align:center; }
.bg-07 .bx-viewport { height:auto !important; }

.film-slide { background-color:#2d304a; margin-top:340px; margin-bottom:60px; }
.film-slide:after { content:''; display:block; clear:both; overflow:hidden; }
.film-slide div { float:left; width:20%; }
.mo-film-slide { display:none; }

#footerWrap .footer { margin:60px auto; max-width:1600px; }
#footerWrap .footer .logo { margin-right:30px; }
#footerWrap .footer ul:after { content:''; display:block; clear:both; overflow:hidden; }
#footerWrap .footer ul li { display:inline-block; float:left; padding:0 10px; }
#footerWrap .footer ul li:not(:first-child) { padding-top:10px; }

/* .layerpopup .bx-viewport { width:100% !important; height:100% !important; } */
.popup01-slide div { width:800px; max-height:800px; overflow: hidden; }

.pl6 { padding-left:6%; }

.audioWrap { position:fixed; right:3%; bottom:15px; z-index:99; }
.audioWrap:after { content:''; display:block; clear:both; }
.icon { display:inline-block; width:40px; height:40px; float:left; margin-right:15px; }

@media ( max-width:1700px) {
    #gnbWrap .gnb { left:3%; }
    .line { left:6%; }
    .main-tit { left:3%; }

}
@media ( max-width:1440px ) {
    .line, .main-tit { display:none; }
}
@media ( max-width:991px ) {
    #gnbWrap .gnb { position:relative; left:0; top:0; }
    #gnbWrap .gnb ul:after { content:''; display:block; clear:both; overflow:hidden; }
    #gnbWrap .gnb ul li { float:left; }
    #gnbWrap .gnb ul li:nth-child(1) { width:15%; }
    #gnbWrap .gnb ul li:nth-child(2) { width:25%; }
    #gnbWrap .gnb ul li:nth-child(3) { width:30%; }
    #gnbWrap .gnb ul li:nth-child(4) { width:30%; }

    .bg-01, .bg-02, .bg-03, .bg-04, .bg-05, .bg-06, .bg-07 { padding-top:80px; padding-bottom:80px; margin-top:0; }
    .mo-only { display:block; }
    .bg-02 .profile { margin-bottom:60px; }
    .bg-02 { background:none; }

    .mt-991 { margin-top:80px; }
    .mo-padding { padding-left:40px; padding-right:40px; }
    .mo-padding02 { padding-right:80px; }
    .mo-padding03 { padding-left:60px; margin-bottom:80px; }
    .bg-02 .contents { padding-top:40px; }
    .bg-03 .slide01, .bg-03 .slide02 { margin-top:0; margin-bottom:70px; float:left; width:50%; text-align:center; }

    .bg-05 .bg05-img { margin-top:60px; }
    .bg-06 .contents { margin-top:60px; padding-right:80px; }

    .fl-r { float:none !important; }
    .mo-center { text-align:center; }

    .film-slide { display:none; }
    .mo-film-slide { display:block; margin-top:80px; }


}
@media ( max-width:768px ) {
    .bg-02 .bg02-mo { padding-left:60px; padding-right:60px; }

    #footerWrap .footer .logo { margin-right:0; margin-bottom:30px; }
    #footerWrap .footer ul li { display:block; float:none; padding:20px 0; text-align:center; }
    #footerWrap .footer p { text-align:center !important; margin-top:50px; }
    .bg-02 .img03 { width:100%; }

    .bg-01 .filmo li { width:50%; text-align:center; }
    .bg-01 .filmo li:nth-child(3),
    .bg-01 .filmo li:nth-child(4) { margin-top:25px; }
}
@media ( max-width:480px ) {


}
