.svg-top__section svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
@media (max-width: 1920px) {
  .svg-top__section svg#svg1 {
    width: 1920px;
    height: 974px;
  }
}
.svg-top__section svg#svg3 {
  transform: translate(-100%, 0);
}
.svg-top__section svg#svg4 {
  opacity: 0;
  transform: translate(0, -10%);
}
@media (max-width: 1920px) {
  .svg-top__section svg#svg4 {
    width: 1920px;
    height: 886px;
  }
}
.svg-top__section .svg5 {
  position: absolute;
  left: -5rem;
  top: 45.8rem;
}
.svg-top__section .svg6 {
  position: absolute;
  right: calc((100% - 1600px) / 2);
  top: 19.6rem;
}
@media (max-width: 1600px) {
  .svg-top__section .svg6 {
    display: none;
  }
}
@media (min-width: 1921px) {
  .svg-top__section .svg6 {
    right: 20rem;
    top: 25rem;
  }
}
@media (max-width: 1028px) {
  .svg-top__section {
    display: none;
  }
}

.main-top__banner {
  position: relative;
  width: 100%;
  height: auto;
}
@media (max-width: 1028px) {
  .main-top__banner {
    background: url("../../assets/images/main/bg_main_banner_mo.png") left bottom no-repeat;
    background-size: cover;
    height: auto;
  }
}
.main-top__banner .txt-wrap {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 2.4rem;
  padding-top: 16.2rem;
  padding-bottom: 28%;
  color: #fff;
}
@media (min-width: 1921px) {
  .main-top__banner .txt-wrap {
    padding-bottom: 30%;
  }
}
@media (max-width: 1600px) {
  .main-top__banner .txt-wrap {
    padding-bottom: 35%;
  }
}
@media (max-width: 1028px) {
  .main-top__banner .txt-wrap {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .main-top__banner .txt-wrap {
    padding-top: 4rem;
  }
}
.main-top__banner .txt-wrap .sub-tit {
  font-size: 2.3rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .main-top__banner .txt-wrap .sub-tit {
    font-size: 1.3rem;
  }
}
.main-top__banner .txt-wrap .title {
  padding: 0.8rem 0 3.2rem;
  font-size: 4.8rem;
  line-height: 1.5;
  font-weight: 800;
}
@media (max-width: 768px) {
  .main-top__banner .txt-wrap .title {
    font-size: 2.6rem;
    padding: 0 0 1.6rem;
    font-weight: 700;
  }
}
.main-top__banner .txt-wrap .desc {
  font-size: 2.8rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .main-top__banner .txt-wrap .desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
  }
}
.main-top__banner .img-wrap {
  position: absolute;
  right: calc((100% - 1400px) / 2);
  bottom: 10rem;
  width: 67.7rem;
  height: 43.8rem;
}
@media (min-width: 1921px) {
  .main-top__banner .img-wrap {
    right: 60rem;
    bottom: 12%;
    width: 32%;
    height: auto;
  }
}
@media (max-width: 1028px) {
  .main-top__banner .img-wrap {
    position: relative;
    width: 70%;
    height: 100%;
    right: auto;
    bottom: auto;
    margin: 5rem auto;
  }
}
@media (max-width: 768px) {
  .main-top__banner .img-wrap {
    width: 100%;
    padding-left: 1.6rem;
    margin-top: 3.8rem;
    margin-bottom: 2.4rem;
  }
}
.main-section__type1 {
  position: relative;
  background: #E7F6FF;
}
@media (max-width: 768px) {
  .main-section__type1 {
    background: #F8FDFF;
  }
}
.main-section__type1 .inner {
  max-width: 121.5rem;
  margin: 0 auto;
  padding: 14rem 2.4rem;
}
@media (max-width: 768px) {
  .main-section__type1 .inner {
    padding: 4rem 3.2rem;
  }
}
.main-section__type1 .pay-list {
  text-align: center;
}
.main-section__type1 .pay-list-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19.7rem;
}
@media (max-width: 768px) {
  .main-section__type1 .pay-list-wrap {
    flex-direction: column;
    gap: 8.6rem;
  }
}
.main-section__type1 .pay-list .sub-tit {
  font-size: 2.8rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .main-section__type1 .pay-list .sub-tit {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
  }
}
.main-section__type1 .pay-list .title {
  padding-top: 0.8rem;
  font-size: 4rem;
  font-weight: 800;
  color: #209BFF;
}
@media (max-width: 768px) {
  .main-section__type1 .pay-list .title {
    padding-top: 0;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
  }
}
.main-section__type1 .pay-list .desc {
  font-size: 2.3rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .main-section__type1 .pay-list .desc {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
  }
}
.main-section__type1 .pay-list .img {
  margin: 3.2rem 0;
}
@media (max-width: 768px) {
  .main-section__type1 .pay-list .img {
    margin: 2.4rem 0;
  }
}
.main-section__type1 .bg-dot {
  position: absolute;
  display: block;
}
@media (max-width: 768px) {
  .main-section__type1 .bg-dot {
    display: none;
  }
}
.main-section__type1 .bg-dot.dot1 {
  width: 9.8rem;
  height: 16.9rem;
  background: url(../../assets/images/main/bg_section1_dot1.svg) center no-repeat;
  background-size: 100% auto;
  left: 0;
  top: 75.4rem;
}
.main-section__type1 .bg-dot.dot2 {
  width: 21.8rem;
  height: 21.8rem;
  background: url(../../assets/images/main/bg_section1_dot2.svg) center no-repeat;
  background-size: 100% auto;
  left: 20.9rem;
  top: 17.5rem;
}
.main-section__type1 .bg-dot.dot3 {
  width: 17.1rem;
  height: 11.3rem;
  background: url(../../assets/images/main/bg_section1_dot3.svg) center no-repeat;
  background-size: 100% auto;
  right: calc((100% - 1000px) / 2);
  top: 0;
}
.main-section__type1 .bg-dot.dot4 {
  width: 15.1rem;
  height: 21.8rem;
  background: url(../../assets/images/main/bg_section1_dot4.svg) center no-repeat;
  background-size: 100% auto;
  right: 0;
  top: 31.9rem;
}
.main-section__type2 {
  position: relative;
  background: #F9F9F9;
}
.main-section__type2 .inner {
  max-width: 114.8rem;
  margin: 0 auto;
  padding: 14rem 2.4rem;
}
@media (max-width: 1028px) {
  .main-section__type2 .inner {
    padding: 8rem 0;
  }
}
@media (max-width: 768px) {
  .main-section__type2 .inner {
    padding: 4rem 2.4rem 7.3rem;
  }
}
.main-section__type2 .txt-wrap {
  text-align: center;
}
.main-section__type2 .txt-wrap .sub-tit {
  font-size: 1.9rem;
  color: #209BFF;
  font-weight: 600;
  line-height: 1.62;
}
@media (max-width: 768px) {
  .main-section__type2 .txt-wrap .sub-tit {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 500;
  }
}
.main-section__type2 .txt-wrap .title {
  padding-top: 1.6rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .main-section__type2 .txt-wrap .title {
    padding-top: 0.8rem;
    font-size: 2.4rem;
    font-weight: 700;
  }
}
.main-section__type2 .service-box-wrap {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5.5rem;
  margin-top: 12.4rem;
}
@media (max-width: 1028px) {
  .main-section__type2 .service-box-wrap {
    margin-top: 8rem;
  }
}
@media (max-width: 768px) {
  .main-section__type2 .service-box-wrap {
    margin-top: 3.8rem;
    gap: 3.2rem;
  }
}
.main-section__type2 .service-box-wrap .service-box {
  background: #fff;
  width: 33rem;
  padding: 2.8rem;
  border: 2px solid #fff;
  border-radius: 3rem;
}
@media (max-width: 768px) {
  .main-section__type2 .service-box-wrap .service-box {
    width: 100%;
    padding: 2.4rem;
    border-width: 1px;
  }
}
.main-section__type2 .service-box-wrap .service-box .service-icon {
  display: inline-block;
  height: 8.3rem;
}
@media (max-width: 768px) {
  .main-section__type2 .service-box-wrap .service-box .service-icon {
    background-size: contain !important;
    width: 5.2rem !important;
    height: 5.2rem;
  }
}
.main-section__type2 .service-box-wrap .service-box .service-icon__01 {
  width: 6.8rem;
  background: url("../../assets/images/main/icon_main05.png") center no-repeat;
  background-size: 100% auto;
}
.main-section__type2 .service-box-wrap .service-box .service-icon__02 {
  width: 7.6rem;
  background: url("../../assets/images/main/icon_main06.png") center no-repeat;
  background-size: 100% auto;
}
.main-section__type2 .service-box-wrap .service-box .service-icon__03 {
  width: 8rem;
  background: url("../../assets/images/main/icon_main07.png") center no-repeat;
  background-size: 100% auto;
}
.main-section__type2 .service-box-wrap .service-box .service-icon__04 {
  width: 7.5rem;
  background: url("../../assets/images/main/icon_main08.png") center no-repeat;
  background-size: 100% auto;
}
.main-section__type2 .service-box-wrap .service-box .service-icon__05 {
  width: 6rem;
  height: 8.8rem;
  background: url("../../assets/images/main/icon_main09.png") center no-repeat;
  background-size: 100% auto;
}
.main-section__type2 .service-box-wrap .service-box__txt .tit {
  margin-top: 4.5rem;
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #000;
  font-size: 2.3rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .main-section__type2 .service-box-wrap .service-box__txt .tit {
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
  }
}
.main-section__type2 .service-box-wrap .service-box__txt .desc {
  font-size: 1.6rem;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .main-section__type2 .service-box-wrap .service-box__txt .desc {
    font-size: 1.3rem;
  }
}
.main-section__type2 .service-box-wrap .service-box .btn-wrap {
  justify-content: flex-end;
  margin-top: 3.2rem;
}
@media (max-width: 768px) {
  .main-section__type2 .service-box-wrap .service-box .btn-wrap {
    margin-top: 2.3rem;
  }
}
.main-section__type2 .service-box-wrap .service-box .btn-wrap .icon-view {
  margin-left: 0.2rem;
}
.main-section__type2 .service-box-wrap .service-box:hover {
  border-color: #000;
}
.main-section__type2 .service-box-wrap .service-box:hover .service-icon__01 {
  background: url("../../assets/images/main/icon_main05_hover.png") center no-repeat;
  background-size: 100% auto;
}
.main-section__type2 .service-box-wrap .service-box:hover .service-icon__02 {
  background: url("../../assets/images/main/icon_main06_hover.png") center no-repeat;
  background-size: 100% auto;
}
.main-section__type2 .service-box-wrap .service-box:hover .service-icon__03 {
  background: url("../../assets/images/main/icon_main07_hover.png") center no-repeat;
  background-size: 100% auto;
}
.main-section__type2 .service-box-wrap .service-box:hover .service-icon__04 {
  background: url("../../assets/images/main/icon_main08_hover.png") center no-repeat;
  background-size: 100% auto;
}
.main-section__type2 .service-box-wrap .service-box:hover .service-icon__05 {
  background: url("../../assets/images/main/icon_main09_hover.png") center no-repeat;
  background-size: 100% auto;
}
.main-section__type2 .service-box-wrap .service-box:hover .btn-wrap .btn-view {
  background-color: #0280E8;
}
.main-section__type2 .bg-dot {
  position: absolute;
  display: block;
  background: url(../../assets/images/main/bg_dot.svg) center no-repeat;
  background-size: 100% auto;
  width: 24rem;
  height: 24rem;
}
@media (max-width: 768px) {
  .main-section__type2 .bg-dot {
    display: none;
  }
}
.main-section__type2 .bg-dot.dot1 {
  left: calc((100% - 1440px) / 2);
  top: 43rem;
}
.main-section__type2 .bg-dot.dot2 {
  right: -3.8rem;
  top: 31.3rem;
}
.main-section__type2 .bg-dot.dot3 {
  right: 50rem;
  bottom: 10.5rem;
}
.main-section__type3 {
  background: url(../../assets/images/main/bg_main_banner02.png) center no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .main-section__type3 {
    background: #d6eefe url(../../assets/images/main/bg_main_banner02.png) left top no-repeat;
    background-size: contain;
  }
}
.main-section__type3 .inner {
  max-width: 124.8rem;
  margin: 0 auto;
  padding: 14rem 2.4rem;
}
@media (max-width: 1028px) {
  .main-section__type3 .inner {
    padding: 8rem 0;
  }
}
@media (max-width: 768px) {
  .main-section__type3 .inner {
    padding: 4rem 0 6.8rem;
  }
}
.main-section__type3 .txt-wrap {
  text-align: center;
}
.main-section__type3 .txt-wrap .sub-tit {
  font-size: 1.9rem;
  color: #209BFF;
  font-weight: 600;
  line-height: 1.62;
}
@media (max-width: 768px) {
  .main-section__type3 .txt-wrap .sub-tit {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 500;
  }
}
.main-section__type3 .txt-wrap .title {
  padding-top: 1.6rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .main-section__type3 .txt-wrap .title {
    padding-top: 0.8rem;
    font-size: 2.4rem;
    font-weight: 700;
  }
}
.main-section__type3 .icon-box-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 15.7rem;
}
@media (max-width: 1028px) {
  .main-section__type3 .icon-box-wrap {
    flex-wrap: wrap;
    gap: 48px;
    margin-top: 8rem;
  }
}
@media (max-width: 768px) {
  .main-section__type3 .icon-box-wrap {
    margin-top: 6.2rem;
  }
}
.main-section__type3 .icon-box-wrap .icon-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 1028px) {
  .main-section__type3 .icon-box-wrap .icon-box {
    width: calc(50% - 48px);
  }
}
@media (max-width: 768px) {
  .main-section__type3 .icon-box-wrap .icon-box {
    width: 100%;
  }
}
.main-section__type3 .icon-box-wrap .icon-box__img {
  width: 11rem;
  height: 11rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .main-section__type3 .icon-box-wrap .icon-box__img {
    width: 7.4rem;
    height: 7.4rem;
  }
}
.main-section__type3 .icon-box-wrap .icon-box__tit {
  padding: 4rem 0 2rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.62;
}
@media (max-width: 768px) {
  .main-section__type3 .icon-box-wrap .icon-box__tit {
    padding: 2.4rem 0 0.8rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
  }
}
.main-section__type3 .icon-box-wrap .icon-box__txt {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .main-section__type3 .icon-box-wrap .icon-box__txt br {
    display: none;
  }
}
@media (max-width: 768px) {
  .main-section__type3 .icon-box-wrap .icon-box__txt {
    padding: 0 4rem;
    font-size: 1.3rem;
  }
}
.main-section__type4 {
  position: relative;
  background: linear-gradient(0deg, #0280E8 -5.73%, rgba(2, 128, 232, 0) 28.04%), #209BFF;
  overflow: hidden;
}
.main-section__type4 .bg-hill, .main-section__type4 .bg-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 768px) {
  .main-section__type4 .bg-hill, .main-section__type4 .bg-line {
    display: none;
  }
}
.main-section__type4 .inner {
  max-width: 114.8rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}
@media (max-width: 768px) {
  .main-section__type4 .inner {
    background: url(../../assets/images/main/bg_about_mo.png) center bottom no-repeat;
    background-size: 100% auto;
    padding: 0 3.2rem;
  }
}
.main-section__type4 .inner .txt-wrap {
  padding-top: 35.4rem;
  padding-bottom: 21.2rem;
}
@media (min-width: 1921px) {
  .main-section__type4 .inner .txt-wrap {
    padding-top: 58%;
  }
}
@media (max-width: 1028px) {
  .main-section__type4 .inner .txt-wrap {
    padding-top: 18rem;
    padding-bottom: 40rem;
  }
}
@media (max-width: 768px) {
  .main-section__type4 .inner .txt-wrap {
    padding-top: 4rem;
    padding-bottom: 120%;
  }
}
.main-section__type4 .inner .txt-wrap .title {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.5;
  color: #fff;
}
@media (max-width: 768px) {
  .main-section__type4 .inner .txt-wrap .title {
    font-size: 2.4rem;
    font-weight: 700;
  }
}
.main-section__type4 .inner .txt-wrap .desc {
  padding-top: 2.4rem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.62;
  color: #fff;
}
@media (max-width: 768px) {
  .main-section__type4 .inner .txt-wrap .desc {
    padding-top: 1.6rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
}
.main-section__type4 .inner .img-rising {
  position: absolute;
  top: 19rem;
  right: calc((100% - 1440px) / 2);
  width: 50.2rem;
  height: 41.1rem;
}
@media (min-width: 1921px) {
  .main-section__type4 .inner .img-rising {
    top: 35rem;
  }
}
@media (max-width: 1028px) {
  .main-section__type4 .inner .img-rising {
    right: 2.4rem;
  }
}
@media (max-width: 768px) {
  .main-section__type4 .inner .img-rising {
    display: none;
  }
}
.main-section__type4 .inner .img-building {
  position: absolute;
  top: 14.2rem;
  left: calc((100% - 1700px) / 2);
  width: 160rem;
  height: 43rem;
}
@media (min-width: 1921px) {
  .main-section__type4 .inner .img-building {
    top: 30rem;
  }
}
@media (max-width: 768px) {
  .main-section__type4 .inner .img-building {
    display: none;
  }
}
.main-section__type4 .about-swiper {
  padding-left: calc((100% - 1100px) / 2);
  padding-right: calc((100% - 1100px) / 2);
  padding-bottom: 14rem;
}
@media (max-width: 1028px) {
  .main-section__type4 .about-swiper {
    padding-left: 5rem;
  }
}
@media (max-width: 768px) {
  .main-section__type4 .about-swiper {
    padding: 4rem 3.2rem 6.4rem;
  }
}
@media (max-width: 768px) {
  .main-section__type4 .about-swiper .swiper-wrapper {
    flex-direction: column;
  }
}
.main-section__type4 .about-swiper .swiper-slide {
  width: auto;
}
@media (max-width: 768px) {
  .main-section__type4 .about-swiper .swiper-slide + .swiper-slide {
    margin-top: 3.2rem;
  }
}
.main-section__type4 .about-swiper .swiper-slide .year {
  position: relative;
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 768px) {
  .main-section__type4 .about-swiper .swiper-slide .year {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
  }
}
.main-section__type4 .about-swiper .swiper-slide .year:after {
  content: "";
  position: absolute;
  top: 1.6rem;
  left: 7.6rem;
  width: calc(100% - 80px);
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 768px) {
  .main-section__type4 .about-swiper .swiper-slide .year:after {
    display: none;
  }
}
.main-section__type4 .about-swiper .swiper-slide .month-wrap {
  margin-top: 2.4rem;
  padding-right: 6rem;
}
@media (max-width: 768px) {
  .main-section__type4 .about-swiper .swiper-slide .month-wrap {
    margin-top: 1.6rem;
    padding-right: 0;
  }
}
.main-section__type4 .about-swiper .swiper-slide .month-wrap li {
  display: flex;
}
.main-section__type4 .about-swiper .swiper-slide .month-wrap li + li {
  margin-top: 1.6rem;
}
.main-section__type4 .about-swiper .swiper-slide .month-wrap .month {
  width: 3rem;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
}
@media (max-width: 768px) {
  .main-section__type4 .about-swiper .swiper-slide .month-wrap .month {
    width: auto;
    margin-right: 1rem;
    font-size: 1.3rem;
  }
}
.main-section__type4 .about-swiper .swiper-slide .month-wrap .con {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
}
.main-section__type4 .about-swiper .swiper-slide .month-wrap .con span {
  display: block;
}
.main-section__type4 .about-swiper .swiper-slide .month-wrap .con span + span {
  margin-top: 1.6rem;
}
@media (max-width: 768px) {
  .main-section__type4 .about-swiper .swiper-slide .month-wrap .con span + span {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .main-section__type4 .about-swiper .swiper-slide .month-wrap .con {
    font-size: 1.3rem;
    padding-left: 1.6rem;
    position: relative;
  }
  .main-section__type4 .about-swiper .swiper-slide .month-wrap .con::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 8px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #fff;
  }
}
.main-section__type4 .about-swiper .about-btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 6.4rem;
  padding: 0 2.4rem;
}
@media (max-width: 1028px) {
  .main-section__type4 .about-swiper .about-btn-wrap {
    margin-top: 4rem;
  }
}
@media (max-width: 768px) {
  .main-section__type4 .about-swiper .about-btn-wrap {
    display: none;
  }
}
.main-section__type4 .about-swiper .about-btn-wrap > div {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  width: 3.5rem;
  height: 3.5rem;
  background-size: 100% auto;
  transition: all 0.3s;
}
.main-section__type4 .about-swiper .about-btn-wrap > div.swiper-button-disabled {
  opacity: 0.3;
}
.main-section__type4 .about-swiper .about-btn-wrap .about-next {
  background-image: url(../../assets/images/common/ico_slide_next.svg);
  margin-left: 3.8rem;
}
.main-section__type4 .about-swiper .about-btn-wrap .about-prev {
  background-image: url(../../assets/images/common/ico_slide_prev.svg);
}/*# sourceMappingURL=main.css.map */