/* 초기화 */
*{margin:0;padding:0;}
body{font-family: 'Nanum Gothic', sans-serif;font-size: 12px;line-height: 1.6;color: #555;}
h1{line-height: 1.1;}
img{border:0;vertical-align:top;}
li{list-style:none;}
a{text-decoration:none;color:inherit;}


/* 기본 클래스 정의 */
.skip{width: 1px;height: 1px;padding: 0;border: 0;margin: -1px;overflow: hidden;position: absolute;clip:rect(0 0 0 0);}
.wrap{width:1000px;margin:0 auto;}
#skipNavi a:hover,
#skipNavi a:active,
#skipNavi a:focus{position: fixed;left: 0;right: 0;top: 0;z-index: 100;width: 100%;height: 30px;line-height: 30px;margin: 0;clip:auto;text-align: center;color:#fff;font-size:14px;background-color: #1e61a8;}

/*상단*/
.header .wrap{position:relative;padding:20px 0;}
.header h1{position:absolute;left:0;top:10px;}
.header form{display:block;margin-left:360px;}
.header fieldset{width:336px;height:39px;position:relative;border:0;background:url(img/search_bg.gif) left top no-repeat;}
.header input[type='image']{position:absolute;right:0;top:0;}
.header input[type='text']{position:absolute;left:7px;top:5px;border:1px solid #fff;width:200px;height:20px;padding:5px 10px;}

.header ul{position:absolute;right:0;top:30px;}
.header ul:after{content:'';display:block;clear:both;}
.header ul li{float:left;}
.header ul li a{position:relative;display:block;padding:0 10px;}
.header ul li:not(:first-child) a:after{content:'';position:absolute;left:0;top:4px;bottom:2px;width:1px;background-color:#ccc;}


/*네비*/
.nav{border-bottom: 1px solid #ddd;border-top: 3px solid #1b5da5; box-shadow:0 3px 3px #ddd;}
.nav .gnb:after{content:'';display: block;clear: both;}
.nav .gnb > li{position: relative;float: left;width: 16.66666666666667%;}
.nav .gnb > li > a{display: block;font-size: 14px;height: 47px;line-height: 47px;text-align: center;font-weight: bold;}

/*네비 하위메뉴*/
.nav .snb{position: absolute;left: 0;right: 0;top: 47px;background-color: #fff;border-top: 1px solid #ddd;border-bottom: 2px solid #1e61a8;overflow: hidden;height: 0;opacity:0;transition:all 0.5s;z-index: 100;}
.nav .snb a{display: block;line-height: 2.5;font-size: 11px;padding-left: 10px;}
.nav .snb a:before{content:'·';margin-right: 5px;}

/*네비 실선*/
.nav .gnb > li:after,
.nav .snb:after{content:'';position: absolute;right: 0;top: 0;bottom: 0;width: 1px;background-color: #ddd;}
.nav .gnb > li:first-child:before,
.nav .gnb > li:first-child .snb:before{content:'';position: absolute;left: 0;top: 0;bottom: 0;width: 1px;background-color: #ddd;}

/*네비 호버*/
.nav .gnb:hover .snb{padding-top: 10px;height: 200px;opacity:1;}
.nav .gnb > li:hover a{color: #1e61a6;}
.nav .gnb > li:hover .snb{background-color: #eef4ef;}
.nav .snb a:hover{font-weight: bold;}


/*메인 컨텐츠*/
.main{background:linear-gradient(to bottom, #edf4ee 1%, #fff);}
.main .wrap{padding:20px 0 40px 0;}
.main .wrap:after{content:'';display:block;clear:both;}

.banner-box{}
.banner-box:after{content:'';display:block;clear:both;}
/*메인 컨텐츠 배너박스*/
.banner-list{float:left;}
.banner-list .banner-text{width:162px;height:89px;padding:22px 10px 0 98px;}
.banner-text h1{font-size:13px;}
.banner-text p{padding-top:5px;}

/*배너 박스 왼쪽*/
.bg01{background-image:url(img/m_box_bg01.gif);background-repeat:no-repeat;}
.bg02{background-image:url(img/m_box_bg02.gif);background-repeat:no-repeat;}
.bg03{background-image:url(img/m_box_bg03.gif);background-repeat:no-repeat;}
.bg04{background-image:url(img/m_box_bg04.gif);background-repeat:no-repeat;}

/*가운데 슬라이더*/
.visual{position:relative;float:left;width:432px;height:442px;padding-left:14px;padding-right:14px;}
/*페이지 아이템*/
.visual .bx-pager{position:absolute;left:0;right:0;bottom:10px;text-align:center;}
.visual .bx-pager-item{display:inline-block;padding:0 3px;}
.visual .bx-pager-item a{display:block;width:13px;height:13px;background-image:url(img/circle_off.png);text-indent:100%;overflow:hidden;white-space:nowrap;}
.visual .bx-pager-item a.active{background-image:url(img/circle_on.png);}
/*시작 정지 버튼*/
.visual .bx-controls-auto .bx-start{display:block;position:absolute;right:70px;bottom:15px;width:16px;height:16px;background:url(img/play-button.png) no-repeat;}
.visual .bx-controls-auto .bx-stop{display:block;position:absolute;right:50px;bottom:15px;width:16px;height:16px;background:url(img/pause-button.png) no-repeat;}

/*배너 박스 오른쪽*/
.bg05{background-image:url(img/m_box_bg05_1.gif);background-repeat:no-repeat;}
.bg06{background-image:url(img/m_box_bg06.gif);background-repeat:no-repeat;}
.banner-list .bg07{width:270px;height:200px;background-image:url(img/m_box_bg07.gif);background-repeat:no-repeat;padding:22px 0 0 0;}
.bg07-box{width:230px;text-align:center;margin:0 auto;}
.bg07-box p{padding-bottom:5px;}
.mobile:first-child a{float:left;}

/*수평 배너*/
.horizontal-banner{padding-top:20px;}
.horizontal-banner:after{content:'';display:block;clear:both;}
.horizontal-banner .banner-text{float:left;width:203px;height:86px;padding:22px 10px 0 120px;}

.bg08{background-image:url(img/m_box_bg08.gif);background-repeat:no-repeat;}
.bg09{background-image:url(img/m_box_bg09.gif);background-repeat:no-repeat;}
.bg10{background-image:url(img/m_box_bg10.gif);background-repeat:no-repeat;}


/*board 더보기*/
.more:before{content:'\f067'; font-family:'FontAwesome'; color:#999;font-size:20px;position:absolute;right:20px;top:20px;}


.board{padding-top:20px;overflow:hidden;}
.board:after{content:'';display:block;clear:both;}
/*공지사항*/
.notice{position:relative;float:left;width:493px;height:222px;margin-right:13px;background-image:url(img/m_box_bg11.gif);background-repeat:no-repeat;}
.notice h1{font-size:18px;padding:25px 0 15px 30px;}

/*board list 공통*/
.b_list{width:310px;height:143px;padding:20px 20px 0 163px;}
.b_list li:after{content:'';display:block;clear:both;}
.b_list a{float:left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:180px;padding-bottom:5px;}
.b_list time{float:right;}

/*자료실*/
.data{position:relative;float:left;width:493px;height:222px;background-image:url(img/m_box_bg12.gif);background-repeat:no-repeat;}
.data h1{font-size:18px;padding:25px 0 15px 30px;}

/*하단*/
.footer{height:130px;border-top:1px solid #ccc;padding-top:40px;}
.footer:after{content:'';display:block;clear:both;}
.footer .wrap{position:relative;}
.footer h1{position:absolute;left:0;top:10px;}
.footer ul{position:absolute;left:100px;top:0;}
.footer ul:after{content:'';display:block;clear:both;}
.footer li{float:left;}
.footer li a{position:relative;display:block;height:16px;line-height:16px;padding:0 10px;}
.footer li:not(:first-child)
a:after{content:'';position:absolute;left:0;top:3px;bottom:0;width:1px;background-color:#ccc;}
.footer li:first-child a{padding-left:0;}
.footer address{position:absolute;left:100px;top:30px;font-style:normal;}
.footer .mark{position:absolute;right:150px;top:0;}
.footer .mark2{position:absolute;right:0;top:0;width:133px;height:65px;}

