/* 초기화 */
*{margin:0;padding:0;}
body{font-family: 'Nanum Gothic', sans-serif;font-size: 12px;line-height: 1.6;color: #555;}
h1{line-height: 1.1;}
img{border:0;vertical-align:top;}
li{list-style:none;}
a{text-decoration:none;color:inherit;}
a:hover{text-decoration:underline;}


/* 기본 클래스 정의 */
.skip{width: 1px;height: 1px;padding: 0;border: 0;margin: -1px;overflow: hidden;position: absolute;clip:rect(0 0 0 0);}

#skipNavi a:hover,
#skipNavi a:active,
#skipNavi a:focus{position: fixed;left: 0;right: 0;top: 0;z-index: 100;width: 100%;height: 30px;line-height: 30px;margin: 0;clip:auto;text-align: center;color:#fff;font-size:14px;background-color: #1e61a8;}

.wrap{width:960px;margin:0 auto;}

/*상단*/
.header{}
.header .wrap{padding:20px;}
.header .wrap:after{content:'';display:block;clear:both;}
.header h1{float:left;}
.header ul{float:right;margin-top:25px;}
.header ul:after{content:'';display:block;clear:both;}
.header li{float:left;}
.header li a{display:block;padding:1px 5px;border:1px solid #555;margin:0 10px;}

/*네비*/
/*gnb*/
.nav{border-top:1px solid #ccc;position:relative;}
.nav .gnb:after{content:'';display:block;clear:both;}
.nav .gnb > li{float:left;width:14.2857%;height:50px;line-height:50px;transition:all 0.5s;}
.nav .gnb > li:hover{background:url(img/gnb_sub_pat.gif);color:#fff;}
.nav .gnb > li > a{display:block;font-size:16px;text-align:center;position:relative;}
.nav .gnb > li:not(:last-child) a:after{content:'';position:absolute;right:0;top:15px;width:1px;height:22px;background-color:#ccc;}

/*snb*/
.gnb > li:hover .snb{display:block;transition:height	0.5s;}
.snb{display:none;position:absolute;left:0;top:50px;width:100%;background:url(img/gnb_sub_pat.gif);z-index:1000;box-sizing:border-box;height:220px;}
.snb strong:before{content:'\f138';font-family:'FontAwesome';margin-right:10px;}
.snb strong{display:block;width:960px;padding-bottom:20px; font-size:24px;color:#fff;border-bottom:1px solid rgba(255,255, 255, .22); margin:0 auto; }
.snb:after{content:'';display:block;clear:both;}
.snb ul:after { content:'';display:block;clear:both; }
.snb ul { width:960px; margin:0 auto; }
.snb li{float:left;width:25%;}
.snb li a{display:inline-block;color:#fff;	}

/*비쥬얼*/
.visual{background-image:url('img/main_bg.gif'); background-repeat: repeat-x;}
.visual .wrap{position:relative;height:300px;background:url(img/main_visual.jpg) no-repeat;}
.visual h1{padding-top:70px;padding-bottom:20px;font-size:35px;font-weight:bold;color:#fff;}
.visual span{display:inline-block;font-size:14px;color:#fff;background:rgba(83, 71, 65, .6);margin-bottom:3px;}

.request{position:absolute;right:0;top:0;}
.request li a{display:block;width:170px;height:80px;color:#fff;padding:20px 20px
0 85px;font-size:11px;}
.request .box1{background:url(img/main-13.gif) no-repeat;}
.request .box2{background:url(img/main-14.gif) no-repeat;}
.request .box3{background:url(img/main-15.gif) no-repeat;}

/*메인*/
.container{padding:40px 0;}
.container .wrap:after{content:'';display:block;clear:both;}

.WA{position:relative;padding-bottom:40px;}
.WA ul:after{content:'';display:block;clear:both;}
.WA li{float:left;width:20%;}
.WA h1{padding-bottom:20px;}
.WA .img_box{width:150px;height:110px;padding:5px;border:1px solid #ccc;margin-bottom:10px;overflow:hidden;}
.WA p{width:150px;font-size:13px;padding-bottom:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.WA a{display:block;padding-bottom:10px;}
.WA span img{padding-top:5px;}

.ma{float:left;width:60%;position:relative;padding-bottom:40px;box-sizing:border-box;}
.ma h1{padding-bottom:20px;}
.ma ul:after{content:'';display:block;clear:both;}
.ma li{float:left;width:33.3333%;}
.ma a{display:block;}
.ma .img_box2{width:110px;height:110px;padding:5px;border:1px solid #ccc;border-radius:5px;margin-bottom:10px;}
.ma p{width:150px;font-size:13px;padding-bottom:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ma a{display:block;padding-bottom:10px;}
.ma span img{padding-top:5px;}

.sa{position:relative;float:left;width:40%;}
.sa h1{padding-bottom:20px;}
.sa ul:after{content:'';display:block;clear:both;}
.sa li{float:left;width:50%;}
.sa a{display:block;}
.sa .img_box2{width:110px;height:110px;padding:5px;border:1px solid #ccc;border-radius:5px;margin-bottom:10px;}
.sa p{width:150px;font-size:13px;padding-bottom:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.sa a{display:block;padding-bottom:10px;}
.sa span img{padding-top:5px;}

.more:before{content:'\f0fe';font-family:'FontAwesome';margin-right:5px;}
.more{font-size:14px;position:absolute;right:25px;top:3px;}

/*공지사항 언론보도*/
.board{float:left;position:relative;width:calc(50% - 20px);padding-right:20px;padding-bottom:40px;}
.board h1,.news h1{padding-bottom:20px;border-bottom:1px solid #ccc;}
.news{float:left;position:relative;width:calc(50% - 20px);padding-left:20px;}

/*공지사항 언론보도 리스트*/
.ul_board{padding-top:20px;}
.ul_board .list{line-height:2.2;}
.ul_board .list:after{content:'';display:block;clear:both;}
.ul_board .list a:before{content:'\f0da';font-family:'FontAwesome';margin-right:5px;}
.ul_board .list a{float:left;display:block;width:300px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ul_board .list time{float:right;}

/*품질인증 온라인지원*/
.quality{float:left;width:calc(50% - 20px);padding-right:20px;clear:both;}
.quality:after{content:'';display:block;clear:both;}
.quality h1,.online h1{padding-bottom:20px;}

.online{float:left;width:calc(50% - 20px);padding-left:20px;}

.img_mark{float:left;padding:10px 0 0 20px;}
.list_box{float:right;}
.list_box li a{display:block;padding:3px 30px;border:1px solid #ccc;margin-bottom:5px;height:20px;line-height:20px;box-shadow:3px 3px 3px #ccc;}

/*하단 배너*/
.banner{border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.banner .wrap{padding:30px 0;}
.banner ul:after{content:'';display:block;clear:both;	}
.banner li a{display:block;float:left;width:20%;text-align:center;}

/*하단*/
.footer{background-color:#f3f3f3;}
.footer .wrap{position:relative;padding:20px 0 40px 0;}
.footer address{position:absolute;left:230px;top:25px;font-style:normal;}
.footer .mark{position:absolute;right:0;top:25px;}
.mark img{padding:0 10px;}
