@import 'media';

.main {
  &-top__banner {
    position:relative;
    width: 100%;
    height: 93.4rem;
    background: url('../../assets/images/main/bg_main_banner.png') left bottom no-repeat;
    background-size: cover;
    @include mobile {
      background: url('../../assets/images/main/bg_main_banner_mo.png') left bottom no-repeat;
      background-size: cover;
      height: auto;
    }
    .txt-wrap {
      max-width: 1148px;
      margin: 0 auto;
      padding: 0 2.4rem;
      padding-top: 16.2rem;
      color: #fff;
      @include laptop {
        text-align: center;
        padding-top: 10rem;
      }
      @include mobile {
        padding-top: 4rem;
      }
      .sub-tit {
        font-size: 2.3rem;
        font-weight: 600;
        @include mobile {
          font-size: 1.3rem;
        }
      }
      .title {
        padding: .8rem 0 3.2rem;
        font-size: 4.8rem;
        line-height: 1.5;
        font-weight: 800;
        @include mobile {
          font-size: 2.6rem;
          padding: 0 0 1.6rem;
          font-weight: 700;
        }
      }
      .desc {
        font-size: 2.8rem;
        font-weight: 600;
        @include mobile {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
    }
    .img-wrap {
      position: absolute;
      right: calc((100% - 1400px) / 2);
      bottom: 12rem;
      width: 67.7rem;
      height: 43.8rem;
      @include laptop {
        position: relative;
        width: 70%;
        height: 100%;
        right: auto;
        bottom: auto;
        margin: 0 auto;
        margin-top: 5rem;
      }
      @include mobile {
        width: 100%;
        padding-left: 1.6rem;
        margin-top: 3.8rem;
      }
    }
  }
  &-section__type1 {
    max-width: 124.8rem;
    margin: 0 auto;
    padding: 8rem 2.4rem 10rem;
    @include laptop {
      padding: 8rem 2.4rem 10rem;
    }
    @include laptop {
      padding: 8rem 0 4rem;
    }
    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2.4rem;
      @include laptop {
        flex-direction: column-reverse;
        text-align: center;
        gap: 0;
      }
    }
    .img-wrap {
      width: 61.4rem;
      height: 43.4rem;
      @include laptop {
        margin-top: 4rem;
      }
      @include mobile {
        width: 100%;
        height: 100%;
      }
    }
    .txt-wrap {
      .title {
        padding-bottom: 3.2rem;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.5;
        span {
          color: #209BFF;
        }
        @include mobile {
          padding-bottom: 1.6rem;
          font-size: 2.4rem;
          font-weight: 700;
        }
      }
      .desc {
        font-size: 2.3rem;
        font-weight: 600;
        @include mobile {
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
    }
  }
  &-section__type2 {
    background: url(../../assets/images/main/bg_main_banner02.png) center no-repeat;
    background-size:cover;
    @include mobile {
      background: #f3f9fb url(../../assets/images/main/bg_main_banner02.png) left top no-repeat;
      background-size: contain;
    }
    .inner {
      max-width: 124.8rem;
      margin: 0 auto;
      padding: 13.6rem 2.4rem 16rem;
      @include laptop {
        padding: 8rem 0;
      }
      @include mobile {
        padding: 4rem 0 6.8rem;
      }
    }
    .txt-wrap {
      text-align: center;
      .sub-tit {
        font-size: 1.9rem;
        color: #209BFF;
        font-weight: 600;
        line-height: 1.62;
        @include mobile {
          font-size: 1.3rem;
          line-height: 1.5;
          font-weight: 500;
        }
      }
      .title {
        padding-top: 1.6rem;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.5;
        @include mobile {
          padding-top: .8rem;
          font-size: 2.4rem;
          font-weight: 700;
        }
      }
    }
    .icon-box-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 80px;
      margin-top: 15.7rem;
      @include laptop {
        flex-wrap:wrap;
        gap: 48px;
        margin-top: 8rem;
      }
      @include mobile {
        margin-top: 6.2rem;
      }
      .icon-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        @include laptop {
          width: calc(50% - 48px);
        }
        @include mobile {
          width: 100%;
        }
        &__img {
          width: 11rem;
          height: 11rem;
          margin: 0 auto;
          @include mobile {
            width: 7.4rem;
            height: 7.4rem;
          }
        }
        &__tit {
          padding: 4rem 0 2rem;
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.62;
          @include mobile {
            padding: 2.4rem 0 .8rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
          }
        }
        &__txt {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          br {
            @include mobile {
              display: none;
            }
          }
          @include mobile {
            padding: 0 4rem;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  &-section__type3 {
    position:relative;
    background: #F9F9F9;
    .inner {
      max-width: 114.8rem;
      margin: 0 auto;
      padding: 22.4rem 2.4rem 20rem;
      @include laptop {
        padding: 8rem 0;
      }
      @include mobile {
        padding: 4rem 2.4rem 7.3rem;
      }
    }
    .txt-wrap {
      text-align: center;
      .sub-tit {
        font-size: 1.9rem;
        color: #209BFF;
        font-weight: 600;
        line-height: 1.62;
        @include mobile {
          font-size: 1.3rem;
          line-height: 1.5;
          font-weight: 500;
        }
      }
      .title {
        padding-top: 1.6rem;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.5;
        @include mobile {
          padding-top: .8rem;
          font-size: 2.4rem;
          font-weight: 700;
        }
      }
    }
    .service-box-wrap {
      position: relative;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5.5rem;
      margin-top: 12.4rem;
      @include laptop {
        margin-top: 8rem;
      }
      @include mobile {
        margin-top: 3.8rem;
        gap: 3.2rem;
      }
      .service-box {
        background: #fff;
        width: 33rem;
        padding: 2.8rem;
        border: 2px solid #fff;
        border-radius: 3rem;
        transition: border .3s;
        @include mobile {
          width: 100%;
          padding: 2.4rem;
          border-width: 1px;
        }
        .service-icon {
          display: inline-block;
          height: 8.3rem;
          @include mobile {
            background-size: contain !important;
            width: 5.2rem !important;
            height: 5.2rem;
          }
          &__01 {
            width:6.8rem;
            background:url('../../assets/images/main/icon_main05.png') center no-repeat;
            background-size:100% auto;
          }
          &__02 {
            width: 7.6rem;
            background: url('../../assets/images/main/icon_main06.png') center no-repeat;
            background-size: 100% auto;
          }
          &__03 {
            width: 8rem;
            background: url('../../assets/images/main/icon_main07.png') center no-repeat;
            background-size: 100% auto;
          }
          &__04 {
            width: 7.5rem;
            background: url('../../assets/images/main/icon_main08.png') center no-repeat;
            background-size: 100% auto;
          }
          &__05 {
            width: 6rem;
            height: 8.8rem;
            background: url('../../assets/images/main/icon_main09.png') center no-repeat;
            background-size: 100% auto;
          }
        }
        &__txt {
          .tit {
            margin-top: 4.5rem;
            margin-bottom: 1.6rem;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid #000;
            font-size: 2.3rem;
            font-weight: 600;
            @include mobile {
              margin-top: 1.6rem;
              margin-bottom: .8rem;
              padding-bottom: .8rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
            }
          }
          .desc {
            font-size: 1.6rem;
            line-height: 1.5;
            @include mobile {
              font-size: 1.3rem;
            }
          }
        }
        .btn-wrap {
          justify-content: flex-end;
          margin-top: 3.2rem;
          @include mobile {
            margin-top: 2.3rem;
          }
          .icon-view {
            margin-left: .2rem;
          }
        }
        &:hover {
          border-color: #000;;
          .service-icon {
            &__01 {
              background: url('../../assets/images/main/icon_main05_hover.png') center no-repeat;
              background-size: 100% auto;
            }
            &__02 {
              background: url('../../assets/images/main/icon_main06_hover.png') center no-repeat;
              background-size: 100% auto;
            }
            &__03 {
              background: url('../../assets/images/main/icon_main07_hover.png') center no-repeat;
              background-size: 100% auto;
            }
            &__04 {
              background: url('../../assets/images/main/icon_main08_hover.png') center no-repeat;
              background-size: 100% auto;
            }
            &__05 {
              background: url('../../assets/images/main/icon_main09_hover.png') center no-repeat;
              background-size: 100% auto;
            }
          }
          .btn-wrap {
            .btn-view {
              background-color: #0280E8;
            }
          }
        }
      }
    }

    .bg-dot {
      position:absolute;
      display: block;
      background: url(../../assets/images/main/bg_dot.svg) center no-repeat;
      background-size:100% auto;
      width: 24rem;
      height: 24rem;
      @include mobile {
        display: none;
      }
      &.dot1 {
        left: calc((100% - 1440px) / 2);
        top: 43rem;
      }
      &.dot2 {
        right: -3.8rem;
        top: 31.3rem;
      }
      &.dot3 {
        right: 50rem;
        bottom: 10.5rem;
      }
    }
  }
  &-section__type4 {
    position: relative;
    background: url(../../assets/images/main/bg_main_about.png) center bottom no-repeat;
    background-size:cover;
    @include mobile {
      background: none;
    }
    .inner {
      max-width: 114.8rem;
      margin: 0 auto;
      padding: 0 2.4rem;
      @include mobile {
        background: url(../../assets/images/main/bg_about_mo.png) center bottom no-repeat;
        background-size:100% auto;
        padding: 0 3.2rem;
      }
      .txt-wrap {
        padding-top: 35.4rem;
        padding-bottom: 21.2rem;
        @include laptop {
          padding-top: 18rem;
          padding-bottom: 40rem;
        }
        @include mobile {
          padding-top: 4rem;
          padding-bottom: 100%;
        }
        .title {
          font-size: 4rem;
          font-weight: 800;
          line-height: 1.5;
          @include mobile {
            font-size: 2.4rem;
            font-weight: 700;
          }
        }
        .desc {
          padding-top: 2.4rem;
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.62;
          @include mobile {
            padding-top: 1.6rem;
            font-size: 1.3rem;
            font-weight: 500;
          }
        }
      }
      .img-wrap {
        position: absolute;
        top: 14.4rem;
        right: calc((100% - 1440px) / 2);
        width: 64.8rem;
        height: 45.8rem;
        @include laptop {
          right: 2.4rem;
        }
        @include mobile {
          display: none;
        }
      }
    }
    .about-swiper {
      padding-left: calc((100% - 1100px) / 2);
      padding-right: calc((100% - 1100px) /2);
      margin-bottom: 10rem;
      @include laptop {
        padding-left: 5rem;
      }
      @include mobile {
        margin-top: 4rem;
        margin-bottom: 9rem;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
      }
      .swiper-wrapper {
        @include mobile {
          flex-direction: column;
        }
      }
      .swiper-slide {
        width: auto;
        & + .swiper-slide {
          @include mobile {
            margin-top: 3.2rem;
          }
        }
        &:first-child {
          &:after {
            content: '';
            position: absolute;
            left: -2.4rem;
            top: 1.6rem;
            width: 1.6rem;
            height: 2px;
            background-color: #209BFF;
            @include mobile {
              display: none;
            }
          }
        }
        .year {
          position: relative;
          font-size: 2.8rem;
          font-weight: 600;          
          color: #209BFF;
          @include mobile {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.5;
          }
          &:after {
            content:'';
            position: absolute;
            top: 1.6rem;
            left: 7.6rem;
            width: calc(100% - 80px);
            height: 2px;
            background-color: #8994A3;
            @include mobile {
              display: none;
            }
          }
        }
        .month-wrap {
          margin-top: 2.4rem;
          padding-right: 6rem;
          @include mobile {
            margin-top: 1.6rem;
            padding-right: 0;
          }
          li {
            display: flex;
            & + li {
              margin-top: 1.6rem;
            }
          }
          .month {
            width: 3rem;
            font-size: 1.6rem;
            color: #8994A3;
            line-height: 1.5;
            @include mobile {
              width: auto;
              margin-right: 1rem;
              font-size: 1.3rem;
            }
          }
          .con {
            font-size: 1.6rem;
            line-height: 1.5;
            span {
              display: block;
              & + span {
                margin-top: 1.6rem;
                @include mobile {
                  margin-top: 0;
                }
              }
            }
            @include mobile {
              font-size: 1.3rem;
              padding-left: 1.6rem;
              position:relative;
              &::before {
                content:'';
                position:absolute;
                left: 5px;
                top: 8px;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: #000;
              }
            }
          }
        }
      }
      .about-btn-wrap {
        display: flex;
        justify-content: flex-end;
        margin-top: 6.4rem;
        padding: 0 2.4rem;
        @include laptop {
          margin-top: 4rem;
        }
        @include mobile {
          display: none;
        }
        & > div {
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          margin-top: 0;
          width: 4.5rem;
          height: 4.5rem;
          background-size:100% auto;
          opacity: 1 !important;
        }
        .about-next {
          background-image: url(../../assets/images/common/ico_slide_next.svg);
          margin-left: 2.8rem;
        }
        .about-prev {
          background-image: url(../../assets/images/common/ico_slide_prev.svg);
        }
      }
    }
  }
}