@import 'media';

.header {
  &-wrap {
    background: #fff;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #EEE;
    @include mobile {
      height: 5.6rem;
    }
  }
  &-container {
    position: relative;
    background:#fff;
    max-width: 114.8rem;
    margin: 0 auto;
  }
  &-logo {
    position: absolute;
    left: 2.4rem;
    top: 2.6rem;
    @include mobile {
      left: 2.4rem;
      top: 1.6rem;
    }
    &__link {
      display: inline-block;
      width: 13rem;
      height: 1.8rem;
      background: url(../../assets/images/common/logo.png) center no-repeat;
      background-size: 100% auto;
      @include mobile {
        width: 8.25rem;
        height: 1.14rem;
      }
    }
  }
  &-menu {
    text-align: center;
    @include mobile {
      display: none;
      text-align: left;
      padding: 5.6rem 2.4rem 0;
    }
    &.active {
      display: block;
    }
    &__list {
      display: inline-block;
      vertical-align: top;
      &:after {
        content: '';
        position: absolute;
        left: -100%;
        right: -100%;
        top: 7.4rem;
        width: 300%;
        height: 1px;
        background-color: #eee;
        @include mobile {
          top: 5.6rem;
        }
      }
      &:hover {
        .header-menu__sub {
          opacity: 1;
          height: 260px;
          // margin-top: 1px;
          // border-top: 1px solid #eee;
          @include mobile {
            display: none;
          }
        }
      }
    }
    &__link {
      color: #6C6D72;
      font-size: 1.6rem;
      line-height: 150%;
      &.active {
        color: #209BFF;
        font-weight: 700;
      }
      &:hover:not(.active) {
        color: #000;
      }
      @include mobile {
        font-size: 1.4rem;
      }
    }
    &__item {
      float: left;
      @include mobile {
        float: none;
      }
      &:last-child {
        .header-menu__sub {
          border-right: 1px solid #EEE;
        }
      }
      &:hover {
        .header-menu__link-text {
          &:after {
            opacity: 1;
            background: #000;
          }
        }
        .header-menu__sub {
          background: #fbfbfb;
        }
      }
    }
    &__main & {
      &__link {
        display: block;
        width: 20.5rem;
      }
      &__link-text {
        display: block;
        position: relative;
        padding: 2.5rem 0;
        @include mobile {
          padding: 1.6rem 0;
        }
      }
    }
    &__sub {
      overflow: hidden;
      opacity: 0;
      // position: relative;
      // z-index: 1;
      height: 0;
      text-align: center;
      border-left: 1px solid #EEE;
      &:before {
        display: block;
        height: 1.8rem;
        content: '';
      }
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: #fff;
        content: '';
      }
      &-item {
        position: relative;
        margin: .4rem 0;
        padding: .8rem 0;
      }
    }
  }
  &-etc {
    position:absolute;
    right: 2.4rem;
    top: 2.7rem;
    @include mobile {
      position:relative;
      right: auto;
      top: auto;
      padding: 3.2rem 0 2.4rem;
    }
    &__list {
      display: flex;
    }
    &__item {
      & + .header-etc__item {
        margin-left: 2rem;
        padding-left:2rem;
        border-left: 1px solid rgb(0, 0, 0, .4);
        @include mobile {
          margin-left: 1.6rem;
          padding-left: 1.6rem;
        }
      }
    }
    &__link {
      display:inline-block;
      font-size: 1.6rem;
      opacity: .4;
      @include mobile {
        font-size: 1.4rem;
      }
      &.active {
        opacity: 1;
      }
    }
  }
  &-button {
    display: none;
    position:absolute;
    right: 1.6rem;
    top: 1.2rem;
    @include mobile {
      display: block;
    }
  }
}

.contents {
  padding-top: 7.5rem;
  @include mobile {
    padding-top: 5.6rem;
  }
}

.footer {
  &-wrap {
    position: relative;
    padding-top: 5rem;
    border-top: 1px solid #DCDEDD;
  }
  &-container {
    max-width: 116.4rem;
    margin: 0 auto;
    padding: 0 3.2rem;
  }
  &-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      align-items: baseline;
      flex-direction: column-reverse;
    }
    .logo {
      width: 13rem;
      height: 1.9rem;
      @include mobile {
        width: 8.25rem;
        height: 1.14rem;
      }
    }
  }
  &-utils {
    display: flex;
    @include mobile {
      width: 100%;
      flex-direction: column;
      margin-bottom: 3.2rem;
      padding-bottom: 3.2rem;
      border-bottom: 1px solid #DCDEDD;
    }
    li {
      & + li {
        margin-left: 5.8rem;
        @include mobile {
          margin-left: 0;
          margin-top: .4rem;
        }
      }
    }
    a {
      display:inline-block;
      font-size: 1.6rem;
      color: #8994A3;
      font-weight: 700;
      transition: all .3s;
      &:hover {
        color: #000;
        text-decoration-line: underline;
      }
      @include mobile {
        font-size: 1.2rem;
        line-height: 2.2;
      }
    }
  }
  &-info {
    margin-top: 5.8rem;
    @include mobile {
      margin-top: 2rem;
    }
    p {
      font-size: 1.6rem;
      color: #8994A3;
      font-weight: 700;
      span {
        @include mobile {
          display: block;
          margin-top: .4rem;
        }
      }
      & + p {
        padding-top: 1.2rem;
        @include mobile {
          padding-top: 0;
        }
      }
      @include mobile {
        font-size: 1.2rem;
        line-height: 1.9;
        font-weight: 500;
      }
    }
  }
  &-copyright {
    margin-top: 4rem;
    padding: 3.4rem 0 5rem;
    border-top: 1px solid #DCDEDD;
    font-size: 1.6rem;
    font-weight: 700;
    color: #8994A3;
    @include mobile {
      margin-top: 0;
      padding: 2.4rem 0 3.4rem;
      border-top: 0;
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}

/* Button */
[class^="btn"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
[class^="icon"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  border-radius: 4px;
}
.btn-view {
  background-color: #209BFF;
  padding: .7rem 1.2rem;
  border-radius: .8rem;
  font-size: 1.3rem;
  color: #fff;
  &.mid {
    padding: 1.2rem 2rem;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 1rem;
    .icon-view {
      margin-left: 1rem;
    }
  }
}
.icon-view {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(../../assets/images/common/ico_arrow_view.svg);
}
.btn-menu {
  width: 3.3rem;
  height: 3.3rem;
  background-image: url(../../assets/images/common/ico_menu.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  &.active {
    background-image: url(../../assets/images/common/ico_close.svg);
  }
}

.error-msg {
  font-size: 1.2rem;
  color: #FF2458;
  font-weight: 500;
  line-height: 1.89;
}
.input-label {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  @include mobile {
    font-size: 1.4rem;
    color: #6C6D72;
  }
}
.input-wrap {
  &.error {
    input {
      border-color: #FF2458;
    }
  }
  input {
    background-color: #fff;
    padding: 1rem 1.6rem;
    border: 1px solid #DCDEDD;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    @include mobile {
      font-size: 1.4rem;
      border-radius: .8rem;
    }
    &::placeholder {
      color: #DCDEDD;
    }
    &:focus {
      border-color: #000;
    }
  }
}

.textarea-wrap {
  &.error {
    textarea {
      border-color: #FF2458;
    }
  }
  textarea {
    background-color: #fff;
    min-height: 13.2rem;
    padding: 1rem 1.6rem;
    border: 1px solid #DCDEDD;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    @include mobile {
      font-size: 1.4rem;
      border-radius: .8rem;
    }
    &::placeholder {
      color: #DCDEDD;
    }
    &:focus {
      border-color: #000;
    }
  }
}