@import 'media';

.contents {
  &-top__wrap {
    background: url(../../assets/images/contents/bg_top_title.png) center no-repeat;
    background-size: cover;
    @include mobile {
      background: url(../../assets/images/contents/bg_top_title_mo.png) center no-repeat;
      background-size:cover;
    }
  }
  &-top__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8.4rem 0 8.5rem;
    @include mobile {
      padding: 4.2rem 0;
    }
    h2 {
      font-size: 4.8rem;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      @include mobile {
        font-size: 2.4rem;
        font-weight: 700;
      }
    }
  }
  &-tit__wrap {
    text-align: center;
    .sub-tit {
      padding-bottom: 1rem;
      color: #209BFF;
      font-size: 1.3rem;
      font-weight: 500;
      
      @include mobile {
        padding-bottom: .8rem;
        line-height: 1.5;
      }
    }
    .title {
      color: #000;
      font-weight: 700;
      font-size: 3.3rem;
      
      @include mobile {
        font-size: 2rem;
        line-height: 1.5;
      }
    }
  }
  &-detail__wrap {
    padding: 9rem 3.2rem 8.7rem;
    @include mobile {
      padding: 2.4rem 3.2rem 3.4rem;
    }
  }
  &-box__wrap {
    position: relative;
    padding-top: 13rem;
    text-align: center;
    @include mobile {
      padding-top: 9.6rem;
      br {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 56.4rem;
      height: 21.5rem;
      background: url(../../assets/images/contents/bg_top_box.png) center no-repeat;
      background-size: 100% auto;
      transform: translateX(-50%);
      @include mobile {
        width: 32rem;
        height: 12rem;
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 4rem;
      width: .6rem;
      height: 7rem;
      background: url(../../assets/images/contents/line_top_box.svg) center no-repeat;
      background-size: auto 100%;
      transform: translateX(-50%);
      @include mobile {
        top: 2.2rem;
        width: .45rem;
        height: 5.6rem;
      }
    }
    .contents-box__container {
      position: relative;
      display: inline-block;
      background-color: #fff;
      padding: 3.2rem;
      border: 2px solid #000;
      border-radius: 3rem;
      @include mobile {
        padding: 2.4rem;
        border-radius: 2rem;
      }
      p {
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.62;
        text-align: center;
        @include mobile {
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.5;
          word-break: keep-all;
        }
      }
    }
  }
  &-box__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    max-width: 115.3rem;
    padding: 11rem 2.4rem 6rem;
    margin: 0 auto;
    @include mobile {
      padding: 3.2rem 2.4rem 5.6rem;
    }
    .box-con {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 32rem;
      min-height: 31.1rem;
      padding: 3.2rem 1.6rem 0;
      margin-bottom: 4.8rem;
      border-radius: 3rem;
      text-align: center;
      @include mobile {
        width: 100%;
        min-width: 100%;
        min-height: 100%;
        padding: 3.2rem 1.2rem;
        margin-bottom: 2.4rem;
      }
      .tit {
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.62;
        @include mobile {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.5;
        }
      }
      .img {
        width: 11rem;
        height: 11rem;
        margin: 2.4rem 0 2.6rem;
        @include mobile {
          margin: 1.6rem 0;
        }
      }
      .desc {
        font-size: 1.6rem;
        line-height: 1.5;
      }
    }
  }

  &-feature__wrap {
    background-color: #F9F9F9;
    padding-top: 12rem;
    @include mobile {
      padding-top: 3.2rem;
    }
    .btn-wrap {
      padding-bottom: 16.5rem;
      @include mobile {
        padding-bottom: 8rem;
      }
    }
  }
}

.tab {
  &-wrap {
    .tab-container {
      display: flex;
      align-items: center;
      justify-content: center;
      -ms-overflow-style: none;
      scrollbar-width: none;
      @include mobile {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        
      }
      &::-webkit-scrollbar {
        display: none;
      }
      .tab-item {
        margin: 1.6rem 1rem;
        @include mobile {
          flex-shrink: 0;
          margin: 1.6rem .4rem;
        }
        a {
          display: block;
          padding: .8rem 2.7rem;
          line-height: 1.5;
          font-weight: 500;
          color: #6C6D72;
          font-size: 1.6rem;
          border-radius: 2.4rem;
          border: 2px solid #EEE;
          @include mobile {
            font-size: 1.2rem;
            line-height: 1.9;
            padding: .4rem 1.2rem;
          }
        }
        &.active {
          a {
            background-color: #209BFF;
            border-color: #209BFF;
            color: #fff;
          }
        }
      }
    }
  }
}

.phone-process {
  &__wrap {
    max-width: 130rem;
    margin: 0 auto;
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:11.2rem 8rem 15.5rem;
    @include mobile {
      flex-direction: column;
      padding: 3.2rem 5rem 10rem;
    }
    &:before {
      content:'';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-40%);
      width: 100%;
      height: 48rem;
      background: url(../../assets/images/contents/bg_process_circle.png) center no-repeat;
      background-size: 100% auto;
      @include mobile {
        display: none;
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: -12%;
      top: 50%;
      transform: translateY(-40%);
      width: 158.7rem;
      height: 77.5rem;
      background: url(../../assets/images/contents/bg_process_circle2.png) center no-repeat;
      background-size: 100% auto;
      @include mobile {
        display: none;
      }
    }
    .phone-process {
      position: relative;
      z-index: 1;
      text-align: center;
      &:nth-child(1):after {
        @include mobile {
          content:'';
          position: absolute;
          left: 50%;
          top: 56%;
          transform: translate(-50%, -50%);
          width: 45rem;
          height: 45rem;
          border-radius: 50%;
          background: linear-gradient(180deg, #2287FF -35.6%, rgba(20, 255, 241, 0.00) 79.29%);
        }
      }
      &:nth-child(2):after {
        @include mobile {
          content: '';
          position: absolute;
          left: 50%;
          top: 56%;
          transform: translate(-50%, -50%);
          width: 45rem;
          height: 45rem;
          border-radius: 50%;
          background: linear-gradient(180deg, #2295FF -35.6%, rgba(20, 185, 255, 0.00) 79.29%);
        }
      }
      &:nth-child(3):after {
        @include mobile {
          content: '';
          position: absolute;
          left: 50%;
          top: 56%;
          transform: translate(-50%, -50%);
          width: 45rem;
          height: 45rem;
          border-radius: 50%;
          background: linear-gradient(180deg, #2252FF -35.6%, rgba(20, 128, 255, 0.00) 71.82%);
        }
      }
      & + .phone-process {
        padding-left: 13.4rem;
        &:before {
          content:'';
          position: absolute;
          left: 4.5rem;
          top: 57%;
          width: 4.85rem;
          height: 2.2rem;
          background: url(../../assets/images/contents/icon_contents_arrow.svg) center no-repeat;
          background-size: 100% auto;
        }
        @include mobile {
          padding-left: 0;
          padding-top: 5.6rem;
        }
      }
      .num {
        font-size: 3.3rem;
        font-weight: 700;
        @include mobile {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.5;
        }
      }
      .desc {
        font-size: 2.3rem;
        font-weight: 600;
        padding: 1rem 0 4.3rem;
        @include mobile {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.5;
          padding: .8rem 0 3.2rem;
        }
      }
      .phone-img {
        position: relative;
        z-index: 2;
      }
    }
  }
}

.paycall-process {
  &__wrap {
    .font-blue {
      color: #209BFF;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15.4rem 0 10.8rem;
    @include mobile {
      flex-direction: column;
      padding: 6.4rem 6.8rem 9.2rem;
    }
    .paycall-process {
      & + .paycall-process {
        padding-left: 12.2rem;
        @include mobile {
          padding-left: 0;
          padding-top: 7.8rem;
        }
      }
      .tit {
        padding-bottom: 6.3rem;
        font-size: 2.8rem;
        font-weight: 600;
        @include mobile {
          padding-bottom: 2.6rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.5;
        }
      }
    } 
  }
  &__step {
    .paycall-step {
      position: relative;
      & + .paycall-step {
        padding-top: 16.8rem;
        @include mobile {
          padding-top: 8.6rem;
        }
        &:before {
          content: '';
          position: absolute;
          top: 4.5rem;
          left: 50%;
          transform: translateX(-50%);
          width: 3.5rem;
          height: 7.5rem;
          background: url(../../assets/images/contents/icon_big_arrow.svg) center no-repeat;
          background-size: 100% auto;
          @include mobile {
            width: 1.75rem;
            height: 3.8rem;
            top: 2.4rem;
          }
        }
      }
      .img {
        width: 28.6rem;
        height: 28.6rem;
        margin: 0 auto;
        @include mobile {
          width: 22.4rem;
          height: 22.4rem;
        }
      }
      .desc {
        padding-top: 3rem;
        font-size: 2.3rem;
        font-weight: 600;
        @include mobile {
          padding-top: 1.6rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
        }
      }
    }
    &.new {
      .paycall-step {
        & + .paycall-step {
          &:before {
            content: '';
            position: absolute;
            top: 4.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 3.5rem;
            height: 7.5rem;
            background: url(../../assets/images/contents/icon_big_arrow_blue.svg) center no-repeat;
            background-size: 100% auto;
          }
        }
      }
    }
  }
}