/* header */
#headerWrap { background-color:#0d1d58; height:50px; line-height:50px; color:#fff; text-align:right; font-size:16px; }
#headerWrap .header { margin:0 auto; max-width:1144px; }

/* gnb */
#gnbWrap { position:relative; }
#gnbWrap .gnb { margin:0 auto; max-width:1144px; }
#gnbWrap .gnb:after { content:''; display:block; clear:both; overflow:hidden; }
#gnbWrap .gnb h1 { float:left; }
#gnbWrap .gnb ul { float:right; width:48%; }
#gnbWrap .gnb ul li { display:inline-block; float:left; width:20%; height:96px; line-height:96px; }
#gnbWrap .gnb ul li:last-child { background-color:#ff8400; }
#gnbWrap .gnb ul li:last-child a { color:#fff; }
#gnbWrap .gnb ul li a { display:block; text-align:center; font-weight:600; font-size:16px; }
#gnbWrap .gnb ul li:not(:last-child):hover { border-bottom:4px solid #000000; }

#gnbWrap .mo-gnb { display:none; }

.mo-menu { display:none; position:absolute; right:50px; top:33px; }
.menu-trigger { width:30px; height:24px; position:absolute; }
.menu-trigger,
.menu-trigger span { display:inline-block; transition:all .2s; box-sizing: border-box; }
.menu-trigger span { position:absolute; left:0; width:100%; height:2px; background-color:#5a5a5a; }
.menu-trigger span:nth-of-type(1) { top:4px; }
.menu-trigger span:nth-of-type(2) { top:13px; }
.menu-trigger span:nth-of-type(3) { bottom:0; }
/* type-07 */
/* 라인이 하나로 합쳐졌다가 엑스자 만들기 */
.menu-trigger span:nth-of-type(1) {
    -webkit-animation : menu-bar07-01 .75s forwards;
    animation : menu-bar07-01 .75s forwards;
}
@-webkit-keyframes menu-bar07-01 {
    0% {
        -webkit-transform : translateY(9px) rotate(45deg);
    }
    50% {
        -webkit-transform : translateY(9px) rotate(0);
    }
    100% {
        -webkit-transform : translateY(0) rotate(0);
    }
}
@keyframes menu-bar07-01 {
    0% {
        transform : translateY(9px) rotate(45deg);
    }
    50% {
        transform : translateY(9px) rotate(0);
    }
    100% {
        transform : translateY(0) rotate(0);
    }
}
.menu-trigger span:nth-of-type(2) {
    transition : all .25s .25s;
    opacity : 1;
}
.menu-trigger span:nth-of-type(3) {
    -webkit-animation : menu-bar07-02 .75s forwards;
    animation : menu-bar07-02 .75s forwards;
}
@-webkit-keyframes menu-bar07-02 {
    0% {
        -webkit-transform : translateY(-9px) rotate(-45deg);
    }
    50% {
        -webkit-transform : translateY(-9px) rotate(0);
    }
    100% {
        -webkit-transform : translateY(0) rotate(0);
    }
}
@keyframes menu-bar07-02 {
    0% {
        transform : translateY(-9px) rotate(-45deg);
    }
    50% {
        transform : translateY(-9px) rotate(0);
    }
    100% {
        transform : translateY(0) rotate(0);
    }
}
.menu-trigger.active-7 span:nth-of-type(1) {
    -webkit-animation : active-menu-bar07-01 .75s forwards;
    animation : active-menu-bar07-01 .75s forwards;
}
@-webkit-keyframes active-menu-bar07-01 {
    0% {
        -webkit-transform : translateY(0) rotate(0);
    }
    50% {
        -webkit-transform : translateY(9px) rotate(0);
    }
    100% {
        -webkit-transform : translateY(9px) rotate(45deg);
    }
}
@keyframes active-menu-bar07-01 {
    0% {
        transform : translateY(0) rotate(0);
    }
    50% {
        transform : translateY(9px) rotate(0);
    }
    100% {
        transform : translateY(9px) rotate(45deg);
    }
}
.menu-trigger.active-7 span:nth-of-type(2) {
    opacity : 0;
}
.menu-trigger.active-7 span:nth-of-type(3) {
    -webkit-animation : active-menu-bar07-02 .75s forwards;
    animation : active-menu-bar07-02 .75s forwards;
}
@-webkit-keyframes active-menu-bar07-02 {
    0% {
        -webkit-transform : translateY(0) rotate(0);
    }
    50% {
        -webkit-transform : translateY(-9px) rotate(0);
    }
    100% {
        -webkit-transform : translateY(-9px) rotate(-45deg);
    }
}
@keyframes active-menu-bar07-02 {
    0% {
        transform : translateY(0) rotate(0);
    }
    50% {
        transform : translateY(-9px) rotate(0);
    }
    100% {
        transform : translateY(-9px) rotate(-45deg);
    }
}

/* visual */
#visualWrap { background:#fff url('../img/main_visual.jpg') center no-repeat; }
#visualWrap .visual { margin:0 auto; max-width:1144px; }
#visualWrap .visual:after { content:''; display:block; clear:both; overflow:hidden; }
#visualWrap .visual .box { background-color:#15295c; padding:75px 90px; width:48%; float:right; }
#visualWrap .visual .box .tit { position:relative; padding-bottom:50px; font-size:48px; color:#fff; font-weight:500; line-height:1.4;  }
#visualWrap .visual .box .tit:after { content:''; display:block; width:30px; height:2px; background-color:#fff; position:absolute; bottom:0; left:0; }
#visualWrap .visual .box .con { padding-top:50px; font-size:21px; color:#ff8400; line-height:1.5; word-break:keep-all; }

.cowork { padding-top:70px; padding-bottom:25px; font-size:36px; font-weight:bold; text-align:center; }
.cowork-des { padding-bottom:50px; font-size:18px; text-align:center; }
.cowork-list:after { content:''; display:block; clear:both; overflow:hidden; }
.cowork-list li { background-repeat:no-repeat; float:left; width:calc(20% - 16px); margin-top:15px; margin-left:8px; margin-right:8px; text-align:center; transition:all 0.3s; }
.cowork-list li .normal { display:block; padding:80px 0 90px; font-size:18px; font-weight:700; }
.cowork-list li .normal span { font-size:12px; }
.cowork-list li:nth-child(1) { background-image:url('../img/cowork01.jpg'); }
.cowork-list li:nth-child(2) { background-image:url('../img/cowork02.jpg'); }
.cowork-list li:nth-child(3) { background-image:url('../img/cowork03.jpg'); }
.cowork-list li:nth-child(4) { background-image:url('../img/cowork04.jpg'); }
.cowork-list li:nth-child(5) { background-image:url('../img/cowork05.jpg'); }
.cowork-list li:nth-child(6) { background-image:url('../img/cowork06.jpg'); }
.cowork-list li:nth-child(7) { background-image:url('../img/cowork07.jpg'); }
.cowork-list li:nth-child(8) { background-image:url('../img/cowork08.jpg'); }
.cowork-list li:nth-child(9) { background-image:url('../img/cowork09.jpg'); }
.cowork-list li:nth-child(10) { background-image:url('../img/cowork10.jpg'); }
.cowork-list li .hover { display:none; padding:54px 0; }
.cowork-list li .hover p:first-child { position:relative; font-size:18px; font-weight:700; color:#fff; padding-bottom:15px; }
.cowork-list li .hover p:first-child:after { content:''; display:block; width:123px; height:1px; background-color:#b5bcc0; position:absolute; bottom:0; left:50%; margin-left:-65px; }
.cowork-list li .hover p:last-child { font-size:10px; line-height:1.6; font-weight:500; color:#ff8400; padding-top:15px; }
.cowork-list li .hover p:first-child span { font-size:12px; }
.cowork-list li:nth-child(1):hover { background-image:url('../img/cowork_hover01.jpg'); }
.cowork-list li:nth-child(2):hover { background-image:url('../img/cowork_hover02.jpg'); }
.cowork-list li:nth-child(3):hover { background-image:url('../img/cowork_hover03.jpg'); }
.cowork-list li:nth-child(4):hover { background-image:url('../img/cowork_hover04.jpg'); }
.cowork-list li:nth-child(5):hover { background-image:url('../img/cowork_hover05.jpg'); }
.cowork-list li:nth-child(6):hover { background-image:url('../img/cowork_hover06.jpg'); }
.cowork-list li:nth-child(7):hover { background-image:url('../img/cowork_hover07.jpg'); }
.cowork-list li:nth-child(8):hover { background-image:url('../img/cowork_hover08.jpg'); }
.cowork-list li:nth-child(9):hover { background-image:url('../img/cowork_hover09.jpg'); }
.cowork-list li:nth-child(10):hover { background-image:url('../img/cowork_hover10.jpg'); }
.cowork-list li:hover .hover { display:block; }
.cowork-list li:hover .normal { display:none; }

/* csWrap */
#csWrap { background:url('../img/bg_cs.jpg') center no-repeat; background-size:cover; }
#csWrap .cs-form { margin-top:30px; padding-left:10%; padding-right:10%; }
#csWrap .cs-form li { margin-top:22px; }
#csWrap .cs-form li:after { content:''; display:block; clear:both; }
#csWrap .cs-form .tit { position:relative; display:table-cell; width:20%; float:left; padding-left:13px; padding-top:10px; font-size:15px; font-weight:600; }
#csWrap .cs-form .tit:before { content:''; position:absolute; left:0; top:17px; display:block; width:3px; height:3px; border-radius:3px; background-color:#000; }
#csWrap .cs-form input, #csWrap .cs-form select { display:inline-block; float:left; width:80%; }
#csWrap .cs-form span { width:5%; float:left; text-align:center; padding-top:10px; font-size:14px; }
#csWrap .agree { margin-left:26%; margin-top:15px; margin-bottom:20px; font-size:14px; font-weight:500; }

.w23 { width:23.3333% !important; }
.w51 { width:51.65% !important; }
.mo-only { display:none; }
.mo-cs { display:none; }

/* footerWrap */
#footerWrap { background-color:#2c2c2c; color:#fff; font-size:14px; line-height:2; }

#topbannerWrap .topbanner { position:absolute; right:12%; top:145px; }
@media ( max-width:1800px ) {
    #topbannerWrap .topbanner { right:3%; }
}

@media ( max-width:1440px ) {
    #topbannerWrap .topbanner { display:none; }
}

@media ( max-width:1144px ) {
    #headerWrap .header, .container { margin-left:15px; margin-right:15px; }

}

@media ( max-width:1080px ) {
    #visualWrap .visual .box { width:55%; }
}

@media ( max-width:991px ) {
    #visualWrap .visual .box { width:60%; }
    #gnbWrap .gnb h1 { float:none; text-align:center; }
    #gnbWrap .gnb ul { width:100%; }
    .mo-center { text-align:center; }
}

@media ( max-width:768px ) {
    #gnbWrap .btn-menu { display:block; }
    #visualWrap .visual .box { float:none; width:100%; padding:50px; }
    .mo-only { display:block; }
    .mo-none { display:none; }
    .mo-cs { display:block; background-color:#15295c; text-align:center; }
    .cowork-list li { width:calc(50% - 16px); height:100%; background-size:cover; }

    .mo-menu { display:block; }
    #gnbWrap .mo-gnb { width:100%; height:100%; }
    #gnbWrap .mo-gnb li { display:block; font-size:14px; text-align:center; font-weight:500; padding:15px 0; border-bottom:1px solid #ccc; }
    #gnbWrap .mo-gnb li:first-child { border-top:1px solid #ccc; }
    #gnbWrap .gnb ul { display:none; }
}

@media ( max-width:480px ) {
    #visualWrap .visual .box { padding:40px; }
    #visualWrap .visual .box .tit { font-size:26px; }
    #visualWrap .visual .box .con { font-size:18px; }

    .cowork-list li { width:100%; }
    .cowork-list li .normal { padding:100px 0; }
    .cowork-list li .hover { padding:69px 0; }

    #csWrap .cs-form { padding-left:0; padding-right:0; }
    #csWrap .agree { text-align:center; margin-left:0; margin-bottom:40px; }
    #csWrap .cs-form .tit { float:none; padding-bottom:10px; }
    #csWrap .cs-form input, #csWrap .cs-form select { width:100%; }
    .w23 { width:30% !important; }
    .w51 { width:65% !important; }
}
