@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css'); /*'Noto Sans KR'*/

/*base*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html { font-size:16px; background-color:#000; }
body { overflow-x:hidden; height:100%; width:100%; text-align:left; font-size:16px; font-weight:400; font-family:"Noto Sans KR", "Apple SD Gothic Neo", sans-serif; color:#fff; line-height:1.3; font-weight:300; -webkit-overflow-scrolling:touch; overflow-y:scroll; word-break:break-all; }
body,p,h1,h2,h3,h4,h5,h6,table,caption,form,fieldset,legend,span,div,th,td,address{margin:0; padding:0; }
ul,ol,li,dl,dt,dd{list-style:none; margin:0; padding:0px}
img{border:0 none; line-height:0; font-size:0; vertical-align:top; max-width:100%; }
table{border-collapse:collapse; border-spacing:0; width:100%}
fieldset{border:0}
legend, caption{width:0; height:0; text-indent:-10000px; font-size:0px; line-height:0px; position:absolute; left:-99999px; }
textarea{ background:#fff; border:1px solid #fff; padding:20px 25px !important; resize:none; outline:none; height:320px; }
input, textarea {vertical-align:middle; font-size:18px; color:#fff; font-family:"gotham", "Noto Sans KR",  "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif; padding:0; margin:0; }
input[type="checkbox"] {width:12px; height:12px; margin-right:7px;}
input[type="radio"] {width:13px; height:13px; border:none; }
input[type="file"]{height:22px; color:#666; border:1px solid #d4d4d4; line-height:22px; vertical-align:middle; background:#fff; }
input[type="search"] { height:40px; line-height:40px; padding:9px 15px 11px; border:1px solid #fff; outline:none; }
input.text{height:16px; padding:8px 10px; border:2px solid #fff; }
input.date{margin:0 3px 0 0; width:110px}
em {font-style:normal; }
iframe {border:none; }
strong {font-weight:bold; }
hr {border:0; background:#fff; margin:0; height:1px; }
a { color:#fff; text-decoration: none; transition:all 0.5s; }
a:hover { color:#ff0000; }
button {padding:0; border:none; cursor:pointer; font-family:inherit; outline-color:transparent; background:none; }

/******** common ********/
#skipnavi li a {  display:block; font-size:16px; width:100%; position:absolute; top:-10000px; left:0; text-align:center; z-index:999999; line-height:1; letter-spacing:0; }
#skipnavi li a:focus{ position:absolute; top:0; left:0; font-weight:bold; color:#fff; background:#272727; padding:20px 0; line-height:1; }

/* common */
.fl-l {float:left !important; }
.fl-r {float:right !important; }
.cl-b {width:0; height:0; font-size:0; line-height:0; clear:both;}
.va-m {vertical-align:middle !important;}
.va-t{vertical-align: top !important;}
.max {max-width:100%;}
.ta-c {text-align:center !important; }
.ta-l {text-align:left !important; }
.ta-r {text-align:right !important; }
.dp-tb {display:table;}
.dp-tbc {display:table-cell;}
.clear {display:block; overflow:visible; width:auto; clear:both; *zoom:1;}
.clear:after {display:block; visibility:hidden; height:0; font-size:0; clear:both; content:'';}
.bd-none{border:none !important;}
.ml20 {margin-left:20px !important; margin-left:1.25rem !important; } /* 20/16 */
.pl25 {padding-left:25px !important; padding-left:1.5625rem !important; } /* 20/16 */
.pr25 {padding-right:25px !important; padding-right:1.5625rem !important; } /* 20/16 */
.mt5 { margin-top:5px !important; margin-top:0.313rem !important; } /* 5/16 */
.mt10 { margin-top:10px !important; margin-top:0.625rem !important; } /* 10/16 */
.mt15 { margin-top:15px !important; margin-top:0.938rem !important; } /* 15/16 */
.mt20 { margin-top:20px !important; margin-top:1.25rem !important; } /* 20/16 */
.mt25 { margin-top:25px !important; margin-top:1.563rem !important; } /* 25/16 */
.mt30 { margin-top:30px !important; margin-top:1.875rem !important; } /* 30/16 */
.mt35 { margin-top:35px !important; margin-top:2.188rem !important; } /* 35/16 */
.mt40 { margin-top:40px !important; margin-top:2.5rem !important; } /* 40/16 */
.mt45 { margin-top:45px !important; margin-top:2.813rem !important; } /* 45/16 */
.mt50 { margin-top:50px !important; margin-top:3.125rem !important; } /* 50/16 */
.mt55 { margin-top:55px !important; margin-top:3.438rem !important; } /* 55/16 */
.mt60 { margin-top:60px !important; margin-top:3.75rem !important; } /* 60/16 */
.mt65 { margin-top:65px !important; margin-top:4.063rem !important; } /* 65/16 */
.mt70 { margin-top:70px !important; margin-top:4.375rem !important; } /* 70/16 */
.mt75 { margin-top:75px !important; margin-top:4.688rem !important; } /* 75/16 */
.mt80 { margin-top:80px !important; margin-top:5rem !important; } /* 80/16 */
.mt85 { margin-top:85px !important; margin-top:5.313rem !important; } /* 85/16 */
.mt90 { margin-top:90px !important; margin-top:5.625rem !important; } /* 90/16 */
.mt95 { margin-top:95px !important; margin-top:5.938rem !important;} /* 95/16 */
.mt100 { margin-top:100px !important; margin-top:6.25rem !important; } /* 100/16 */

.mb0 {margin-bottom:0px !important; } /* 5/16 */
.mb5 {margin-bottom:5px !important; margin-bottom:0.313rem !important; } /* 5/16 */
.mb10 {margin-bottom:10px !important; margin-bottom:0.625rem !important; } /* 10/16 */
.mb15 {margin-bottom:15px !important; margin-bottom:0.938rem !important; } /* 15/16 */
.mb20 {margin-bottom:20px !important; margin-bottom:1.25rem !important; } /* 20/16 */
.mb25 {margin-bottom:25px !important; margin-bottom:1.563rem !important; } /* 25/16 */
.mb30 {margin-bottom:30px !important; margin-bottom:1.875rem !important; } /* 30/16 */
.mb35 {margin-bottom:35px !important; margin-bottom:2.188rem !important; } /* 35/16 */
.mb40 {margin-bottom:40px !important; margin-bottom:2.5rem !important; } /* 40/16 */
.mb45 {margin-bottom:45px !important; margin-bottom:2.813rem !important; } /* 45/16 */
.mb50 {margin-bottom:50px !important; margin-bottom:3.125rem !important; } /* 50/16 */
.mb55 {margin-bottom:55px !important; margin-bottom:3.438rem !important; } /* 55/16 */
.mb60 {margin-bottom:60px !important; margin-bottom:3.75rem !important; } /* 60/16 */
.mb65 {margin-bottom:65px !important; margin-bottom:4.063rem !important; } /* 65/16 */
.mb70 {margin-bottom:70px !important; margin-bottom:4.375rem !important; } /* 70/16 */
.mb75 {margin-bottom:75px !important; margin-bottom:4.688rem !important; } /* 75/16 */
.mb80 {margin-bottom:80px !important; margin-bottom:5rem !important; } /* 80/16 */
.mb85 {margin-bottom:85px !important; margin-bottom:5.313rem !important; } /* 85/16 */
.mb90 {margin-bottom:90px !important; margin-bottom:5.625rem !important; } /* 90/16 */
.mb95 {margin-bottom:95px !important; margin-bottom:5.938rem !important; } /* 95/16 */
.mb100 {margin-bottom:100px !important; margin-bottom:6.25rem !important; } /* 100/16 */

.pt0 {padding-top:0 !important; }
.pt5 {padding-top:5px !important; padding-top:0.313rem !important; } /* 5/16 */
.pt10 {padding-top:10px !important; padding-top:0.625rem !important; } /* 10/16 */
.pt15 {padding-top:15px !important; padding-top:0.938rem !important; } /* 15/16 */
.pt20 {padding-top:20px !important; padding-top:1.25rem !important; } /* 20/16 */
.pt25 {padding-top:25px !important; padding-top:1.563rem !important; } /* 25/16 */
.pt30 {padding-top:30px !important; padding-top:1.875rem !important; } /* 30/16 */
.pt35 {padding-top:35px !important; padding-top:2.188rem !important; } /* 35/16 */
.pt40 {padding-top:40px !important; padding-top:2.5rem !important; } /* 40/16 */
.pt45 {padding-top:45px !important; padding-top:2.813rem !important; } /* 45/16 */
.pt50 {padding-top:50px !important; padding-top:3.125rem !important; } /* 50/16 */
.pt55 {padding-top:55px !important; padding-top:3.438rem !important; } /* 55/16 */
.pt60 {padding-top:60px !important; padding-top:3.75rem !important; } /* 60/16 */
.pt65 {padding-top:65px !important; padding-top:4.063rem !important; } /* 65/16 */
.pt70 {padding-top:70px !important; padding-top:4.375rem !important; } /* 70/16 */
.pt75 {padding-top:75px !important; padding-top:4.688rem !important; } /* 75/16 */
.pt80 {padding-top:80px !important; padding-top:5rem !important; } /* 80/16 */
.pt85 {padding-top:85px !important; padding-top:5.313rem !important; } /* 85/16 */
.pt90 {padding-top:90px !important; padding-top:5.625rem !important; } /* 90/16 */
.pt95 {padding-top:95px !important; padding-top:5.938rem !important; } /* 95/16 */
.pt100 {padding-top:100px !important; padding-top:6.25rem !important; } /* 100/16 */

.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important; padding-bottom:0.313rem !important; } /* 5/16 */
.pb10 {padding-bottom:10px !important; padding-bottom:0.625rem !important; } /* 10/16 */
.pb15 {padding-bottom:15px !important; padding-bottom:0.938rem !important; } /* 15/16 */
.pb20 {padding-bottom:20px !important; padding-bottom:1.25rem !important; } /* 20/16 */
.pb25 {padding-bottom:25px !important; padding-bottom:1.563rem !important; } /* 25/16 */
.pb30 {padding-bottom:30px !important; padding-bottom:1.875rem !important; } /* 30/16 */
.pb35 {padding-bottom:35px !important; padding-bottom:2.188rem !important; } /* 35/16 */
.pb40 {padding-bottom:40px !important; padding-bottom:2.5rem !important; } /* 40/16 */
.pb45 {padding-bottom:45px !important; padding-bottom:2.813rem !important; } /* 45/16 */
.pb50 {padding-bottom:50px !important; padding-bottom:3.125rem !important; } /* 50/16 */
.pb55 {padding-bottom:55px !important; padding-bottom:3.438rem !important; } /* 55/16 */
.pb60 {padding-bottom:60px !important; padding-bottom:3.75rem !important; } /* 60/16 */
.pb65 {padding-bottom:65px !important; padding-bottom:4.063rem !important; } /* 65/16 */
.pb70 {padding-bottom:70px !important; padding-bottom:4.375rem !important; } /* 70/16 */
.pb75 {padding-bottom:75px !important; padding-bottom:4.688rem !important; } /* 75/16 */
.pb80 {padding-bottom:80px !important; padding-bottom:5rem !important; } /* 80/16 */
.pb85 {padding-bottom:85px !important; padding-bottom:5.313rem !important; } /* 85/16 */
.pb90 {padding-bottom:90px !important; padding-bottom:5.625rem !important; } /* 90/16 */
.pb95 {padding-bottom:95px !important; padding-bottom:5.938rem !important; } /* 95/16 */
.pb100 {padding-bottom:100px !important; padding-bottom:6.25rem !important; } /* 100/16 */

.of-hi {overflow:hidden; }
.pos-r {position:relative !important;}
.pos-a {position:absolute !important;}
.color-000{color:#000 !important;}
.color-fff{color:#fff !important;}
.color-f50101 { color:#f50101 !important; }

/* selectbox */
select { width:100%; padding:8px 10px; line-height:1.57; letter-spacing:-0.8px; font-size:16px; font-size:1rem; color:#333; border:none; outline:none; }
.select-wrap { position:relative; display:inline-block; z-index:1; line-height:1;}
.select-wrap select { position:relative; z-index:2; width:100%; background:#fff url('../../images/common/bg_select_arrow.png') no-repeat 95% center; /*opacity:0; filter:alpha(opacity=0);
 IE 8 */}

/* selectbox 디자인만 */
select:not(.no-style) {
  font-family:inherit;  /* 폰트 상속 */
  border-radius:0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance:none; /* 네이티브 외형 감추기 */
  -moz-appearance:none;
  appearance:none;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
  display:none;
}
.input-box { position:relative; }
.input-box label {
  position:absolute;
  top:1px;  /* input 요소의 border-top 설정값 만큼 */
  left:1px;  /* input 요소의 border-left 설정값 만큼 */
  padding:7px 11px;  /* input 요소의 padding 값 만큼 */
  color:#999;
  cursor:text;
}
/*input*/
input[type="text"],
input[type="password"],
input[type="tel"] {
  height:auto;  /* 높이 초기화 */
  line-height:normal;  /* line-height 초기화 */
  padding:5px;  /* 여백 설정 */
  box-sizing:border-box;
  border:none;
  width:100%;
  color:#333333;
  font-size:16px;
  font-family:inherit;
  border-radius:0;  /* iSO 둥근모서리 제거 */
  -webkit-appearance:none;  /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance:none;
  appearance:none;
  outline:none;
}
/*textarea*/
textarea {width:100%; border:1px solid #E0E0E0; }
textarea::-webkit-input-placeholder { color:#A2A2A2; font-size:18px; font-size:1.125rem; }
textarea:-ms-input-placeholder { color:#A2A2A2; font-size:18px; font-size:1.125rem; }
textarea::-moz-placeholder { color:#A2A2A2; font-size:18px; font-size:1.125rem; }
textarea:-moz-placeholder { color:#A2A2A2; font-size:18px; font-size:1.125rem; }
/* blind */
.blind{width:0; height:0; text-indent:-10000px; font-size:0px; line-height:0px; position:absolute; left:-99999px; }
.blind table{text-indent:-10000px}

/*animation*/
.ani-all {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
@media screen and (max-width: 768px){
    html { font-size:12px; }
}
